# Settings

In [1]:
'''To display all output results of a Jupyter cell.'''
#from IPython.core.interactiveshell import InteractiveShell
#InteractiveShell.ast_node_interactivity = "all"

'To display all output results of a Jupyter cell.'

In [2]:
'''To ensure that the output results are not truncated.'''
#pd.options.display.max_rows = 4000

'To ensure that the output results are not truncated.'

In [3]:
%autosave 180

Autosaving every 180 seconds

# Import of packages

In [4]:
'''To install the required packages that are not included in Colaboratory.'''
#Installation of packages that are not included in Colaboratory
!pip install kneed
!pip install osmnx

Requirement already satisfied: kneed in /Users/pol/opt/anaconda3/lib/python3.8/site-packages (0.7.0)
Requirement already satisfied: scipy in /Users/pol/opt/anaconda3/lib/python3.8/site-packages (from kneed) (1.5.2)
Requirement already satisfied: matplotlib in /Users/pol/opt/anaconda3/lib/python3.8/site-packages (from kneed) (3.1.3)
Requirement already satisfied: numpy>=1.14.2 in /Users/pol/opt/anaconda3/lib/python3.8/site-packages (from kneed) (1.19.2)
Requirement already satisfied: cycler>=0.10 in /Users/pol/opt/anaconda3/lib/python3.8/site-packages (from matplotlib->kneed) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /Users/pol/opt/anaconda3/lib/python3.8/site-packages (from matplotlib->kneed) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/pol/opt/anaconda3/lib/python3.8/site-packages (from matplotlib->kneed) (1.3.0)
Requirement already satisfied: python-dateutil>=2.1 in /Users/pol/opt/anaconda3/lib/python3.8/site-packages (from matplotlib->kneed) (2.8.1)
Requirement already satisfied: six in /Users/pol/opt/anaconda3/lib/python3.8/site-packages (from cycler>=0.10->matplotlib->kneed) (1.15.0)
Requirement already satisfied: osmnx in /Users/pol/opt/anaconda3/lib/python3.8/site-packages (1.0.1)
Requirement already satisfied: numpy>=1.19 in /Users/pol/opt/anaconda3/lib/python3.8/site-packages (from osmnx) (1.19.2)
Collecting matplotlib>=3.3
  Using cached matplotlib-3.3.4-cp38-cp38-macosx_10_9_x86_64.whl (8.5 MB)
Requirement already satisfied: Shapely>=1.7 in /Users/pol/opt/anaconda3/lib/python3.8/site-packages (from osmnx) (1.7.1)
Requirement already satisfied: Rtree>=0.9 in /Users/pol/opt/anaconda3/lib/python3.8/site-packages (from osmnx) (0.9.4)
Requirement already satisfied: networkx>=2.5 in /Users/pol/opt/anaconda3/lib/python3.8/site-packages (from osmnx) (2.5)
Requirement already satisfied: pandas>=1.1 in /Users/pol/opt/anaconda3/lib/python3.8/site-packages (from osmnx) (1.1.3)
Requirement already satisfied: requests>=2.25 in /Users/pol/opt/anaconda3/lib/python3.8/site-packages (from osmnx) (2.25.1)
Requirement already satisfied: pyproj>=2.6 in /Users/pol/opt/anaconda3/lib/python3.8/site-packages (from osmnx) (3.0.0.post1)
Requirement already satisfied: descartes>=1.1 in /Users/pol/opt/anaconda3/lib/python3.8/site-packages (from osmnx) (1.1.0)
Requirement already satisfied: geopandas>=0.8 in /Users/pol/opt/anaconda3/lib/python3.8/site-packages (from osmnx) (0.8.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /Users/pol/opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=3.3->osmnx) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /Users/pol/opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=3.3->osmnx) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/pol/opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=3.3->osmnx) (1.3.0)
Requirement already satisfied: pillow>=6.2.0 in /Users/pol/opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=3.3->osmnx) (8.0.1)
Requirement already satisfied: python-dateutil>=2.1 in /Users/pol/opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=3.3->osmnx) (2.8.1)
Requirement already satisfied: setuptools in /Users/pol/opt/anaconda3/lib/python3.8/site-packages (from Rtree>=0.9->osmnx) (50.3.1.post20201107)
Requirement already satisfied: decorator>=4.3.0 in /Users/pol/opt/anaconda3/lib/python3.8/site-packages (from networkx>=2.5->osmnx) (4.4.2)
Requirement already satisfied: pytz>=2017.2 in /Users/pol/opt/anaconda3/lib/python3.8/site-packages (from pandas>=1.1->osmnx) (2020.1)
Requirement already satisfied: certifi>=2017.4.17 in /Users/pol/opt/anaconda3/lib/python3.8/site-packages (from requests>=2.25->osmnx) (2020.6.20)
Requirement already satisfied: chardet<5,>=3.0.2 in /Users/pol/opt/anaconda3/lib/python3.8/site-packages (from requests>=2.25->osmnx) (3.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/pol/opt/anaconda3/lib/python3.8/site-packages (from requests>=2.25->osmnx) (1.25.11)
Requirement already satisfied: idna<3,>=2.5 in /Users/pol/opt/anaconda3/lib/python3.8/site-packages (from requests>=2.25->osmnx) (2.10)
Requirement already satisfied: fiona in /Users/pol/opt/anaconda3/lib/python3.8/site-packages (from geopandas>=0.8->osmnx) (1.8.18)
Requirement already satisfied: six in /Users/pol/opt/anaconda3/lib/python3.8/site-packages (from cycler>=0.10->matplotlib>=3.3->osmnx) (1.15.0)
Requirement already satisfied: attrs>=17 in /Users/pol/opt/anaconda3/lib/python3.8/site-packages (from fiona->geopandas>=0.8->osmnx) (20.3.0)
Requirement already satisfied: cligj>=0.5 in /Users/pol/opt/anaconda3/lib/python3.8/site-packages (from fiona->geopandas>=0.8->osmnx) (0.7.1)
Requirement already satisfied: click<8,>=4.0 in /Users/pol/opt/anaconda3/lib/python3.8/site-packages (from fiona->geopandas>=0.8->osmnx) (7.1.2)
Requirement already satisfied: munch in /Users/pol/opt/anaconda3/lib/python3.8/site-packages (from fiona->geopandas>=0.8->osmnx) (2.5.0)
Requirement already satisfied: click-plugins>=1.0 in /Users/pol/opt/anaconda3/lib/python3.8/site-packages (from fiona->geopandas>=0.8->osmnx) (1.1.1)
Installing collected packages: matplotlib
  Attempting uninstall: matplotlib
    Found existing installation: matplotlib 3.1.3
    Uninstalling matplotlib-3.1.3:
      Successfully uninstalled matplotlib-3.1.3
Successfully installed matplotlib-3.3.4

In [5]:
'''To install a specific version of the matplotlib package.'''
!pip install matplotlib==3.1.3

Collecting matplotlib==3.1.3
  Using cached matplotlib-3.1.3-cp38-cp38-macosx_10_9_x86_64.whl (13.2 MB)
Requirement already satisfied: cycler>=0.10 in /Users/pol/opt/anaconda3/lib/python3.8/site-packages (from matplotlib==3.1.3) (0.10.0)
Requirement already satisfied: numpy>=1.11 in /Users/pol/opt/anaconda3/lib/python3.8/site-packages (from matplotlib==3.1.3) (1.19.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /Users/pol/opt/anaconda3/lib/python3.8/site-packages (from matplotlib==3.1.3) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/pol/opt/anaconda3/lib/python3.8/site-packages (from matplotlib==3.1.3) (1.3.0)
Requirement already satisfied: python-dateutil>=2.1 in /Users/pol/opt/anaconda3/lib/python3.8/site-packages (from matplotlib==3.1.3) (2.8.1)
Requirement already satisfied: six in /Users/pol/opt/anaconda3/lib/python3.8/site-packages (from cycler>=0.10->matplotlib==3.1.3) (1.15.0)
Installing collected packages: matplotlib
  Attempting uninstall: matplotlib
    Found existing installation: matplotlib 3.3.4
    Uninstalling matplotlib-3.3.4:
      Successfully uninstalled matplotlib-3.3.4
ERROR: After October 2020 you may experience errors when installing or updating packages. This is because pip will change the way that it resolves dependency conflicts.

We recommend you use --use-feature=2020-resolver to test your packages with the new resolver before it becomes the default.

osmnx 1.0.1 requires matplotlib>=3.3, but you'll have matplotlib 3.1.3 which is incompatible.
Successfully installed matplotlib-3.1.3

In [6]:
'''To import the required packages.'''
import pandas as pd
import numpy as np
import networkx as nx
import collections
import matplotlib.pyplot as plt
import math

from kneed import KneeLocator
import seaborn as sns
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from sklearn.decomposition import PCA

import osmnx as ox

# Import of the Belgian railway datasets

In [7]:
'''To register the GitHub link with the Belgian data as a variable.'''
datalink = "https://raw.githubusercontent.com/polkuleuven/thesis/main/"

In [8]:
'''To import the agency dataset that contains limited information about Belgian NMBS/SNCB railway agency.'''
agency = pd.read_csv(datalink + "agency.csv", sep=",")
#agency

In [9]:
'''To import the stops dataset that contains information about the ids, the names and the geographical coordinates of the Belgian railway stations.'''
stops = pd.read_csv(datalink + "stops.csv", encoding='iso-8859-1', sep=",")
stops

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,zone_id,stop_url,location_type,parent_station,platform_code
0,8015345,NaN,Aachen Hbf (DE),NaN,50.77083,6.105277,NaN,NaN,0,NaN,NaN
1,8200100,NaN,Luxembourg (LU),NaN,49.60000,6.133333,NaN,NaN,0,NaN,NaN
2,8200101,NaN,Dommeldange (LU),NaN,49.63390,6.136765,NaN,NaN,0,NaN,NaN
3,8200102,NaN,Pfaffenthal-Kirchberg (LU),NaN,49.61913,6.132853,NaN,NaN,0,NaN,NaN
4,8200110,NaN,Mersch (LU),NaN,49.74889,6.106111,NaN,NaN,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2635,8896909,NaN,Izegem,NaN,50.92115,3.212089,NaN,NaN,0,S8896909,NaN
2636,S8896925,NaN,Ingelmunster,NaN,50.91433,3.255416,NaN,NaN,1,NaN,NaN
2637,8896925_2,NaN,Ingelmunster,NaN,50.91433,3.255416,NaN,NaN,0,S8896925,2
2638,8896925_1,NaN,Ingelmunster,NaN,50.91433,3.255416,NaN,NaN,0,S8896925,1
2639,8896925,NaN,Ingelmunster,NaN,50.91433,3.255416,NaN,NaN,0,S8896925,NaN

In [10]:
'''To import the translations dataset that provides the French-, Dutch-, German- and English-language translations of the Belgian railway stations.'''
translations = pd.read_csv(datalink + "translations.csv", encoding='iso-8859-1', sep=",")
#translations

In [11]:
'''To import the transfers dataset that gives the minimum transfer time to switch routes at each Belgian railway station.'''
transfers = pd.read_csv(datalink + "transfers.csv", sep=",")
transfers

,from_stop_id,to_stop_id,transfer_type,min_transfer_time,from_trip_id,to_trip_id
0,8015345,8015345,2,300,NaN,NaN
1,8200100,8200100,2,300,NaN,NaN
2,8200101,8200101,2,300,NaN,NaN
3,8200102,8200102,2,300,NaN,NaN
4,8200110,8200110,2,300,NaN,NaN
...,...,...,...,...,...,...
606,8896503,8896503,2,300,NaN,NaN
607,8896735,8896735,2,300,NaN,NaN
608,8896800,8896800,2,300,NaN,NaN
609,8896909,8896909,2,300,NaN,NaN
610,8896925,8896925,2,300,NaN,NaN

In [12]:
'''To import the routes dataset that provides the id, the name and the type of vehicle used for all Belgian railway routes.'''
routes = pd.read_csv(datalink + "routes.csv", encoding='iso-8859-1', sep=",")
routes

,route_id,agency_id,route_short_name,route_long_name,route_desc,route_type,route_url,route_color,route_text_color
0,1,NMBS/SNCB,IC,Liège-Guillemins -- Liers,NaN,103,NaN,NaN,NaN
1,10,NMBS/SNCB,BUS,La Louvière-Sud -- Manage,NaN,700,NaN,NaN,NaN
2,100,NMBS/SNCB,IC,Enghien -- Tournai,NaN,103,NaN,NaN,NaN
3,101,NMBS/SNCB,BUS,Anvers-Central -- Tongres,NaN,700,NaN,NaN,NaN
4,102,NMBS/SNCB,BUS,Flémalle-Haute -- Huy,NaN,700,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
674,95,NMBS/SNCB,BUS,Zottegem -- Grammont,NaN,700,NaN,NaN,NaN
675,96,NMBS/SNCB,BUS,Hasselt -- Tongres,NaN,700,NaN,NaN,NaN
676,97,NMBS/SNCB,IC,Hal -- Brussels Airport-Zaventem,NaN,103,NaN,NaN,NaN
677,98,NMBS/SNCB,BUS,Charleroi-Sud -- Tamines,NaN,700,NaN,NaN,NaN
678,99,NMBS/SNCB,BUS,Hasselt -- Liège-Guillemins,NaN,700,NaN,NaN,NaN

In [13]:
'''To import the trips dataset that gives for all routes an overview of the trips and the headsigns of these trips belonging to the Belgian railway route.
The service_id is an indication of all the dates this trip is valid (consultable in the calendar_dates dataset).'''
trips = pd.read_csv(datalink + "trips.csv", encoding='iso-8859-1', sep=",")
trips

,route_id,service_id,trip_id,trip_headsign,trip_short_name,direction_id,block_id,shape_id,trip_type
0,1,1,88____:007::8841673:8841004:6:559:20201212,Namur,106,NaN,1,NaN,1
1,2,1,88____:046::8841004:8863008:20:722:20201212,Namur,4977,NaN,1,NaN,1
2,3,2,88____:007::8841673:8845005:18:723:20200520,Luxembourg (LU),106,NaN,2,NaN,1
3,3,2,88____:007::8845005:8200136:3:734:20200520,Luxembourg (LU),106,NaN,2,NaN,1
4,3,21,88____:007::8845005:8200136:3:734:20200430,Luxembourg (LU),106,NaN,3,NaN,1
...,...,...,...,...,...,...,...,...,...
25953,676,345,88____:046::8865003:8864345:6:1730:20201212,Marloie,987,NaN,20348,NaN,1
25954,676,340,88____:046::8865003:8864345:6:1832:20201211,Marloie,988,NaN,20349,NaN,1
25955,676,345,88____:046::8865003:8864345:6:1930:20201212,Marloie,989,NaN,20350,NaN,1
25956,676,340,88____:046::8865003:8864345:6:2032:20201211,Marloie,990,NaN,20351,NaN,1
25957,676,345,88____:046::8865003:8864345:6:2130:20201212,Marloie,991,NaN,20352,NaN,1

In [14]:
'''To import the stop_times dataset that gives for all trips an overview of the ids of the stations served and the sequence in which these stations are served. 
In addition, for all the trips the arrival and departure times at the stations served are given.'''
stop_times = pd.read_csv(datalink + "stop_times-1.csv", sep=",")
stop_times = stop_times.append(pd.read_csv(datalink + "stop_times-2.csv", sep=","), ignore_index=True)
stop_times

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,stop_headsign,pickup_type,drop_off_type,shape_dist_traveled
0,88____:007::8841673:8841004:6:559:20201212,05:35:00,05:35:00,8841673,1,NaN,0,1,NaN
1,88____:007::8841673:8841004:6:559:20201212,05:38:00,05:39:00,8841665,2,NaN,0,0,NaN
2,88____:007::8841673:8841004:6:559:20201212,05:44:00,05:45:00,8841608,3,NaN,0,0,NaN
3,88____:007::8841673:8841004:6:559:20201212,05:50:00,05:51:00,8841525,4,NaN,0,0,NaN
4,88____:007::8841673:8841004:6:559:20201212,05:54:00,05:55:00,8841558,5,NaN,0,0,NaN
...,...,...,...,...,...,...,...,...,...
344417,88____:046::8865003:8864345:6:2130:20201212,21:06:00,21:06:00,8865227,2,NaN,0,0,NaN
344418,88____:046::8865003:8864345:6:2130:20201212,21:16:00,21:16:00,8864337,3,NaN,0,0,NaN
344419,88____:046::8865003:8864345:6:2130:20201212,21:21:00,21:21:00,8864311,4,NaN,0,0,NaN
344420,88____:046::8865003:8864345:6:2130:20201212,21:24:00,21:25:00,8864006,5,NaN,0,0,NaN
344421,88____:046::8865003:8864345:6:2130:20201212,21:30:00,21:30:00,8864345,6,NaN,1,0,NaN

In [15]:
'''To import the calendar dataset that gives the first and last date of all data observations.'''
calendar = pd.read_csv(datalink + "calendar.csv", sep=",")
#calendar

In [16]:
'''To import the calendar_dates dataset that gives for each service_id all the exact dates when that service_id is valid.'''
calendar_dates = pd.read_csv(datalink + "calendar_dates.csv", sep=",")
#calendar_dates

In [17]:
''' ??? '''
stop_time_overrides = pd.read_csv(datalink + "stop_time_overrides.csv", sep=",")
stop_time_overrides

,trip_id,stop_sequence,service_id,stop_id
0,88____:007::8841673:8841004:6:559:20201212,1,3218,8841673_3
1,88____:007::8841673:8841004:6:559:20201212,2,2645,8841665_2
2,88____:007::8841673:8841004:6:559:20201212,3,2645,8841608_2
3,88____:007::8841673:8841004:6:559:20201212,4,2645,8841525_1
4,88____:007::8841673:8841004:6:559:20201212,5,2645,8841558_1
...,...,...,...,...
171160,88____:046::8865003:8864345:6:2130:20201212,2,345,8865227_2
171161,88____:046::8865003:8864345:6:2130:20201212,3,345,8864337_1
171162,88____:046::8865003:8864345:6:2130:20201212,4,345,8864311_2
171163,88____:046::8865003:8864345:6:2130:20201212,5,345,8864006_6
171164,88____:046::8865003:8864345:6:2130:20201212,6,345,8864345_4

# Cleaning of the Belgian railway data

In [18]:
'''To eliminate the stop_ids in the stops dataset that contain an underscore or that start with a character 'S'. '''
stops_cleaned = stops[(~stops['stop_id'].str.contains('_')) & (~stops['stop_id'].str.contains('S'))]

'''To modify the object datatype of the stop_id column to the numpy int64 datatype'''
stops_cleaned.loc[:,'stop_id'] = stops_cleaned.loc[:,'stop_id'].astype(np.int64)
stops_cleaned

/Users/pol/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1745: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,zone_id,stop_url,location_type,parent_station,platform_code
0,8015345,NaN,Aachen Hbf (DE),NaN,50.77083,6.105277,NaN,NaN,0,NaN,NaN
1,8200100,NaN,Luxembourg (LU),NaN,49.60000,6.133333,NaN,NaN,0,NaN,NaN
2,8200101,NaN,Dommeldange (LU),NaN,49.63390,6.136765,NaN,NaN,0,NaN,NaN
3,8200102,NaN,Pfaffenthal-Kirchberg (LU),NaN,49.61913,6.132853,NaN,NaN,0,NaN,NaN
4,8200110,NaN,Mersch (LU),NaN,49.74889,6.106111,NaN,NaN,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2621,8896503,NaN,Ypres,NaN,50.84740,2.876590,NaN,NaN,0,S8896503,NaN
2626,8896735,NaN,Poperinge,NaN,50.85445,2.736345,NaN,NaN,0,S8896735,NaN
2631,8896800,NaN,Roulers,NaN,50.94903,3.130415,NaN,NaN,0,S8896800,NaN
2635,8896909,NaN,Izegem,NaN,50.92115,3.212089,NaN,NaN,0,S8896909,NaN
2639,8896925,NaN,Ingelmunster,NaN,50.91433,3.255416,NaN,NaN,0,S8896925,NaN

In [19]:
'''To merge a selection of the trips dataset and a selection of the routes dataset on route_id'''
trip_route_short_name = pd.merge(trips[['route_id','service_id','trip_id', 'trip_headsign']], routes[['route_id', 'route_short_name', 'route_long_name']], on='route_id')

'''To select the trips that belong to the routes that have a route_short_name that begins with an 'S' or is equal to 'IC', 'L' or 'P.'''
allowed_route_type = {'IC', 'L', 'P'}
filtered_trips = trip_route_short_name[(trip_route_short_name['route_short_name'].isin(allowed_route_type)) | (trip_route_short_name['route_short_name'].str.startswith('S'))]
filtered_trips = filtered_trips.drop(columns=['route_short_name'])
filtered_trips

,route_id,service_id,trip_id,trip_headsign,route_long_name
0,1,1,88____:007::8841673:8841004:6:559:20201212,Namur,Liège-Guillemins -- Liers
1,1,48,88____:007::8841673:8841004:6:528:20200524,Liège-Guillemins,Liège-Guillemins -- Liers
2,1,48,88____:007::8841004:8841673:6:857:20200524,Liers,Liège-Guillemins -- Liers
3,1,48,88____:007::8841673:8841004:6:728:20200524,Liège-Guillemins,Liège-Guillemins -- Liers
4,1,48,88____:007::8841004:8841673:6:1057:20200524,Liers,Liège-Guillemins -- Liers
...,...,...,...,...,...
25953,679,716,84____:007::8400131:8400280:3:1720:20200705,Den Haag HS (NL),Den Haag HS (NL) -- Bruxelles-Nord
25954,679,716,84____:007::8400280:8821105:4:1600:20200705,Bruxelles-Nord,Den Haag HS (NL) -- Bruxelles-Nord
25955,679,716,88____:007::8821105:8812005:22:1723:20200705,Bruxelles-Nord,Den Haag HS (NL) -- Bruxelles-Nord
25956,679,716,84____:007::8400280:8821105:4:2000:20200705,Bruxelles-Nord,Den Haag HS (NL) -- Bruxelles-Nord
25957,679,716,88____:007::8821105:8812005:22:2123:20200705,Bruxelles-Nord,Den Haag HS (NL) -- Bruxelles-Nord

# Exploratory data analysis with the Belgian railway data

In [20]:
'''To calculate the number of unique route_ids before removing the routes with a route_short_name that does not begin with an S and is not 'IC', 'L', or 'P'.'''
initial_set_routes = {r for r in routes['route_id']}
len(initial_set_routes)

679

In [21]:
'''To calculate the number of unique route_ids after removing the routes with a route_short_name that does not begin with an S and is not 'IC', 'L', or 'P'.'''
set_routes = {r for r in filtered_trips['route_id']}
len(set_routes)

555

In [22]:
'''To calculate the number of stations in the stops_cleaned dataset'''
set_stations = {s for s in stops_cleaned['stop_id']}
len(set_stations)

611

# Research question 1: How similar are railway systems in terms of their global network metrics?

## For this a comparison of different railway systems in a L-space network representation is performed.

##### Remember that in the L-space representation the nodes denote the stations and there exist an edge between two stations when these stations are consecutively serviced by at least one route​.

In [23]:
'''To merge a selection of the stops_cleaned dataset with a selection of the stop_times dataset'''
stops_cleaned_stop_times_merge = pd.merge(stop_times[['trip_id','arrival_time', 'departure_time','stop_id','stop_sequence']], stops_cleaned[['stop_id', 'stop_name', 'stop_lat', 'stop_lon']], on='stop_id')
stops_cleaned_stop_times_merge

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,stop_name,stop_lat,stop_lon
0,88____:007::8841673:8841004:6:559:20201212,05:35:00,05:35:00,8841673,1,Liers,50.69818,5.566829
1,88____:007::8841673:8845005:18:723:20200520,05:35:00,05:35:00,8841673,1,Liers,50.69818,5.566829
2,88____:007::8841673:8841004:6:559:20201212:1,05:35:00,05:35:00,8841673,1,Liers,50.69818,5.566829
3,88____:007::8841673:8841004:6:559:20201129,05:35:00,05:35:00,8841673,1,Liers,50.69818,5.566829
4,88____:007::8841673:8841004:6:559:20201211,05:35:00,05:35:00,8841673,1,Liers,50.69818,5.566829
...,...,...,...,...,...,...,...,...
344417,84____:007::8400530:8400058:4:2205:20200705,21:22:00,21:25:00,8400280,25,Den Haag HS (NL),52.08333,4.300000
344418,84____:007::8400280:8400530:2:1858:20201211,18:39:00,18:39:00,8400280,1,Den Haag HS (NL),52.08333,4.300000
344419,84____:007::8400280:8821105:4:2000:20201212,18:39:00,18:39:00,8400280,1,Den Haag HS (NL),52.08333,4.300000
344420,84____:007::8400280:8821105:4:2000:20200517,18:39:00,18:39:00,8400280,1,Den Haag HS (NL),52.08333,4.300000
344421,84____:007::8400280:8821105:4:2000:20200705,18:39:00,18:39:00,8400280,1,Den Haag HS (NL),52.08333,4.300000

In [24]:
'''To merge a selection of the stops_cleaned_stop_times_merge dataset with the filtered_trips dataset.'''
stops_cleaned_stop_times_trips_merge = pd.merge(filtered_trips, stops_cleaned_stop_times_merge, on='trip_id', how = 'left')
stops_cleaned_stop_times_trips_merge

,route_id,service_id,trip_id,trip_headsign,route_long_name,arrival_time,departure_time,stop_id,stop_sequence,stop_name,stop_lat,stop_lon
0,1,1,88____:007::8841673:8841004:6:559:20201212,Namur,Liège-Guillemins -- Liers,05:35:00,05:35:00,8841673,1,Liers,50.69818,5.566829
1,1,1,88____:007::8841673:8841004:6:559:20201212,Namur,Liège-Guillemins -- Liers,05:38:00,05:39:00,8841665,2,Milmort,50.69246,5.600094
2,1,1,88____:007::8841673:8841004:6:559:20201212,Namur,Liège-Guillemins -- Liers,05:44:00,05:45:00,8841608,3,Herstal,50.66091,5.622762
3,1,1,88____:007::8841673:8841004:6:559:20201212,Namur,Liège-Guillemins -- Liers,05:50:00,05:51:00,8841525,4,Liège-Saint-Lambert,50.64635,5.570451
4,1,1,88____:007::8841673:8841004:6:559:20201212,Namur,Liège-Guillemins -- Liers,05:54:00,05:55:00,8841558,5,Liège-Carré,50.64030,5.561130
...,...,...,...,...,...,...,...,...,...,...,...,...
321418,679,716,88____:007::8821105:8812005:22:2123:20200705,Bruxelles-Nord,Den Haag HS (NL) -- Bruxelles-Nord,21:03:00,21:03:00,8811262,20,Erps-Kwerps,50.89651,4.585000
321419,679,716,88____:007::8821105:8812005:22:2123:20200705,Bruxelles-Nord,Den Haag HS (NL) -- Bruxelles-Nord,21:01:00,21:01:00,8811270,19,Veltem,50.90052,4.633520
321420,679,716,88____:007::8821105:8812005:22:2123:20200705,Bruxelles-Nord,Den Haag HS (NL) -- Bruxelles-Nord,20:59:00,20:59:00,8811288,18,Herent,50.90353,4.672190
321421,679,716,88____:007::8821105:8812005:22:2123:20200705,Bruxelles-Nord,Den Haag HS (NL) -- Bruxelles-Nord,20:11:00,20:11:00,8821063,5,Anvers-Luchtbal,51.24413,4.425033
321422,679,716,88____:007::8821105:8812005:22:2123:20200705,Bruxelles-Nord,Den Haag HS (NL) -- Bruxelles-Nord,20:00:00,20:01:00,8821105,4,Noorderkempen (Brecht),51.35683,4.632200

In [25]:
'''To create a route_sequence dataset that gives for each trip_id that belongs to a route the sequence of stations served'''
route_sequence = stops_cleaned_stop_times_trips_merge.groupby(['route_id','route_long_name','trip_headsign','trip_id','stop_sequence'], as_index=False)[['stop_name', 'stop_lat', 'stop_lon']].last()
route_sequence

,route_id,route_long_name,trip_headsign,trip_id,stop_sequence,stop_name,stop_lat,stop_lon
0,1,Liège-Guillemins -- Liers,Liers,88____:007::8841004:8841673:6:1057:20200524,1,Liège-Guillemins,50.62455,5.566698
1,1,Liège-Guillemins -- Liers,Liers,88____:007::8841004:8841673:6:1057:20200524,2,Liège-Carré,50.64030,5.561130
2,1,Liège-Guillemins -- Liers,Liers,88____:007::8841004:8841673:6:1057:20200524,3,Liège-Saint-Lambert,50.64635,5.570451
3,1,Liège-Guillemins -- Liers,Liers,88____:007::8841004:8841673:6:1057:20200524,4,Herstal,50.66091,5.622762
4,1,Liège-Guillemins -- Liers,Liers,88____:007::8841004:8841673:6:1057:20200524,5,Milmort,50.69246,5.600094
...,...,...,...,...,...,...,...,...
321418,679,Den Haag HS (NL) -- Bruxelles-Nord,Den Haag HS (NL),88____:007::8812005:8400131:23:818:20200705,19,Anvers-Berchem,51.19923,4.432219
321419,679,Den Haag HS (NL) -- Bruxelles-Nord,Den Haag HS (NL),88____:007::8812005:8400131:23:818:20200705,20,Anvers-Central,51.21720,4.421098
321420,679,Den Haag HS (NL) -- Bruxelles-Nord,Den Haag HS (NL),88____:007::8812005:8400131:23:818:20200705,21,Anvers-Luchtbal,51.24413,4.425033
321421,679,Den Haag HS (NL) -- Bruxelles-Nord,Den Haag HS (NL),88____:007::8812005:8400131:23:818:20200705,22,Noorderkempen (Brecht),51.35683,4.632200
321422,679,Den Haag HS (NL) -- Bruxelles-Nord,Den Haag HS (NL),88____:007::8812005:8400131:23:818:20200705,23,BREDA (NL),51.59568,4.780017

### code voor trips_hash => too long so it is read from a csv

'''To calculate the hash value for the stop sequence of each trip_id'''

#To copy the filtered_trips dataset
trips_hash = filtered_trips.copy()

#To create a column called hash that contains NaN values
trips_hash['hash'] = np.nan

#For each trip_id in filtered_trips, the stop_sequence that gets calculated is the subset of the stop_time dataset for that trip_id. 
#The tuple that results from the stop_id column of this subset dataset contains all the stop_ids that get served by this trip_id. 
#The hash value of the tuple of the stop_id column is calculated and is placed in the hash column of the trip_id in the filtered_trips dataset

trips_hash['hash_inverse'] = np.nan
for trip in filtered_trips['trip_id'].unique():
    stop_sequence = stop_times[stop_times['trip_id'] == trip].sort_values(by = 'stop_sequence')
    trips_hash.loc[trips_hash['trip_id'] == trip, 'hash'] = hash(tuple(stop_sequence['stop_id']))
    trips_hash.loc[trips_hash['trip_id'] == trip, 'hash_inverse'] = hash(tuple(list(stop_sequence['stop_id'])[::-1]))
trips_hash
trips_hash.to_csv(r'/Users/pol/Desktop/CSV_export/trips_hash.csv', index = False, header=True, encoding='utf-8-sig')

In [26]:
trips_hash = pd.read_csv(datalink + "trips_hash.csv", sep=",")

In [27]:
trips_hash

,route_id,service_id,trip_id,trip_headsign,route_long_name,hash,hash_inverse
0,1,1,88____:007::8841673:8841004:6:559:20201212,Namur,Liège-Guillemins -- Liers,-4.288363e+18,-6.465769e+18
1,1,48,88____:007::8841673:8841004:6:528:20200524,Liège-Guillemins,Liège-Guillemins -- Liers,-4.288363e+18,-6.465769e+18
2,1,48,88____:007::8841004:8841673:6:857:20200524,Liers,Liège-Guillemins -- Liers,-6.465769e+18,-4.288363e+18
3,1,48,88____:007::8841673:8841004:6:728:20200524,Liège-Guillemins,Liège-Guillemins -- Liers,-4.288363e+18,-6.465769e+18
4,1,48,88____:007::8841004:8841673:6:1057:20200524,Liers,Liège-Guillemins -- Liers,-6.465769e+18,-4.288363e+18
...,...,...,...,...,...,...,...
22113,679,716,84____:007::8400131:8400280:3:1720:20200705,Den Haag HS (NL),Den Haag HS (NL) -- Bruxelles-Nord,-4.809365e+18,5.255191e+18
22114,679,716,84____:007::8400280:8821105:4:1600:20200705,Bruxelles-Nord,Den Haag HS (NL) -- Bruxelles-Nord,-3.326243e+18,8.239505e+18
22115,679,716,88____:007::8821105:8812005:22:1723:20200705,Bruxelles-Nord,Den Haag HS (NL) -- Bruxelles-Nord,8.867455e+18,-2.368845e+18
22116,679,716,84____:007::8400280:8821105:4:2000:20200705,Bruxelles-Nord,Den Haag HS (NL) -- Bruxelles-Nord,-3.326243e+18,8.239505e+18
22117,679,716,88____:007::8821105:8812005:22:2123:20200705,Bruxelles-Nord,Den Haag HS (NL) -- Bruxelles-Nord,8.867455e+18,-2.368845e+18

In [28]:
# To groupby the trip_id and to order the stop_sequence in an ascending order
# I did this because otherwise different hash values could correspond to a same stop_sequence (since the stop_sequences of some
# routes are initially in descending order while other stop_sequences are in ascending order)

trip_stop_sequence_sorted = stops_cleaned_stop_times_merge.groupby(['trip_id'], as_index=False).apply(lambda x: x.sort_values('stop_sequence'))
trip_stop_sequence_sorted

                                                  trip_id arrival_time  \
0     341115  80____:046::8015345:8849023:2:1011:20200419     10:04:00
      340961  80____:046::8015345:8849023:2:1011:20200419     10:11:00
1     341114  80____:046::8015345:8849023:2:1011:20200430     10:04:00
      340959  80____:046::8015345:8849023:2:1011:20200430     10:11:00
2     341112  80____:046::8015345:8849023:2:1011:20200510     10:04:00
...                                                   ...          ...
25957 11794    88____:L73::8843208:8841004:5:834:20201211     08:15:00
      201716   88____:L73::8843208:8841004:5:834:20201211     08:21:00
      201609   88____:L73::8843208:8841004:5:834:20201211     08:25:00
      201502   88____:L73::8843208:8841004:5:834:20201211     08:28:00
      6445     88____:L73::8843208:8841004:5:834:20201211     08:34:00

             departure_time  stop_id  stop_sequence             stop_name  \
0     341115       10:04:00  8015345              1       Aachen Hbf (DE)
      340961       10:11:00  8849023              2  Hergenrath-Frontière
1     341114       10:04:00  8015345              1       Aachen Hbf (DE)
      340959       10:11:00  8849023              2  Hergenrath-Frontière
2     341112       10:04:00  8015345              1       Aachen Hbf (DE)
...                     ...      ...            ...                   ...
25957 11794        08:15:00  8843208              1        Flémalle-Haute
      201716       08:22:00  8843067              2               Seraing
      201609       08:26:00  8843174              3                Ougrée
      201502       08:28:00  8847258              4              Y.RENORY
      6445         08:36:00  8841004              5      Liège-Guillemins

              stop_lat  stop_lon
0     341115  50.77083  6.105277
      340961  50.71896  6.041269
1     341114  50.77083  6.105277
      340959  50.71896  6.041269
2     341112  50.77083  6.105277
...                ...       ...
25957 11794   50.59531  5.457661
      201716  50.60890  5.513777
      201609  50.60540  5.536972
      201502  50.60485  5.557880
      6445    50.62455  5.566698

[344422 rows x 8 columns]

In [29]:
# To put the stop_names per trip_id in a list
'''sert à rien, le faire dans l etape hash'''
trip_stop_sequence = trip_stop_sequence_sorted.groupby('trip_id')['stop_name'].apply(lambda group_series: group_series.tolist()).reset_index()
trip_stop_sequence.rename(columns={'stop_name':'stop_sequence'}, inplace=True)
trip_stop_sequence

,trip_id,stop_sequence
0,80____:046::8015345:8849023:2:1011:20200419,"[Aachen Hbf (DE), Hergenrath-Frontière]"
1,80____:046::8015345:8849023:2:1011:20200430,"[Aachen Hbf (DE), Hergenrath-Frontière]"
2,80____:046::8015345:8849023:2:1011:20200510,"[Aachen Hbf (DE), Hergenrath-Frontière]"
3,80____:046::8015345:8849023:2:1011:20201211,"[Aachen Hbf (DE), Hergenrath-Frontière]"
4,80____:046::8015345:8849023:2:1011:20201212,"[Aachen Hbf (DE), Hergenrath-Frontière]"
...,...,...
25953,88____:L73::8841400:8841004:9:923:20201211,"[Waremme, Bléret, Remicourt, Momalle, Fexhe-Le..."
25954,88____:L73::8843208:8841004:5:1634:20201211,"[Flémalle-Haute, Seraing, Ougrée, Y.RENORY, Li..."
25955,88____:L73::8843208:8841004:5:1734:20201211,"[Flémalle-Haute, Seraing, Ougrée, Y.RENORY, Li..."
25956,88____:L73::8843208:8841004:5:734:20201211,"[Flémalle-Haute, Seraing, Ougrée, Y.RENORY, Li..."
25957,88____:L73::8843208:8841004:5:834:20201211,"[Flémalle-Haute, Seraing, Ougrée, Y.RENORY, Li..."

In [30]:
# To add the stop_sequence of stations to the trips_hash dataset in the trips_hash_stop_sequence dataset by joining on trip_id
trips_hash_stop_sequence = pd.merge(trips_hash, trip_stop_sequence, on='trip_id', how='left')

# To put the columns in a more logical order
trips_hash_stop_sequence = trips_hash_stop_sequence[['route_id', 'route_long_name','service_id','trip_headsign','trip_id','hash', 'hash_inverse','stop_sequence']]
trips_hash_stop_sequence

,route_id,route_long_name,service_id,trip_headsign,trip_id,hash,hash_inverse,stop_sequence
0,1,Liège-Guillemins -- Liers,1,Namur,88____:007::8841673:8841004:6:559:20201212,-4.288363e+18,-6.465769e+18,"[Liers, Milmort, Herstal, Liège-Saint-Lambert,..."
1,1,Liège-Guillemins -- Liers,48,Liège-Guillemins,88____:007::8841673:8841004:6:528:20200524,-4.288363e+18,-6.465769e+18,"[Liers, Milmort, Herstal, Liège-Saint-Lambert,..."
2,1,Liège-Guillemins -- Liers,48,Liers,88____:007::8841004:8841673:6:857:20200524,-6.465769e+18,-4.288363e+18,"[Liège-Guillemins, Liège-Carré, Liège-Saint-La..."
3,1,Liège-Guillemins -- Liers,48,Liège-Guillemins,88____:007::8841673:8841004:6:728:20200524,-4.288363e+18,-6.465769e+18,"[Liers, Milmort, Herstal, Liège-Saint-Lambert,..."
4,1,Liège-Guillemins -- Liers,48,Liers,88____:007::8841004:8841673:6:1057:20200524,-6.465769e+18,-4.288363e+18,"[Liège-Guillemins, Liège-Carré, Liège-Saint-La..."
...,...,...,...,...,...,...,...,...
22113,679,Den Haag HS (NL) -- Bruxelles-Nord,716,Den Haag HS (NL),84____:007::8400131:8400280:3:1720:20200705,-4.809365e+18,5.255191e+18,"[BREDA (NL), Rotterdam CS (NL), Den Haag HS (NL)]"
22114,679,Den Haag HS (NL) -- Bruxelles-Nord,716,Bruxelles-Nord,84____:007::8400280:8821105:4:1600:20200705,-3.326243e+18,8.239505e+18,"[Den Haag HS (NL), Rotterdam CS (NL), BREDA (N..."
22115,679,Den Haag HS (NL) -- Bruxelles-Nord,716,Bruxelles-Nord,88____:007::8821105:8812005:22:1723:20200705,8.867455e+18,-2.368845e+18,"[Noorderkempen (Brecht), Anvers-Luchtbal, Anve..."
22116,679,Den Haag HS (NL) -- Bruxelles-Nord,716,Bruxelles-Nord,84____:007::8400280:8821105:4:2000:20200705,-3.326243e+18,8.239505e+18,"[Den Haag HS (NL), Rotterdam CS (NL), BREDA (N..."
22117,679,Den Haag HS (NL) -- Bruxelles-Nord,716,Bruxelles-Nord,88____:007::8821105:8812005:22:2123:20200705,8.867455e+18,-2.368845e+18,"[Noorderkempen (Brecht), Anvers-Luchtbal, Anve..."

In [31]:
# To count the number of dates for each service_id
service_id_df = calendar_dates.groupby(['service_id'])[['service_id']].count().rename(columns={'service_id':'count_service_id'}).reset_index()
service_id_df

      service_id  count_service_id
0              0               240
1              1                20
2              2                13
3             12                 7
4             13                 3
...          ...               ...
3831        5760                 4
3832        5761                12
3833        5762                 3
3834        5763                 3
3835        5764                 3

[3836 rows x 2 columns]

In [32]:
#NEW
#regroup the days per service id in a set
service_id_dates = calendar_dates.groupby('service_id')['date'].apply(lambda group_series: set(group_series.tolist())).reset_index()
service_id_dates.rename(columns={'date':'dates'}, inplace=True)
service_id_dates = service_id_dates.merge(service_id_df, on='service_id', how='left')
service_id_dates

,service_id,dates,count_service_id
0,0,"{20201014, 20201116, 20201001, 20201002, 20201...",240
1,1,"{20201107, 20201114, 20201121, 20200613, 20201...",20
2,2,"{20200512, 20200513, 20200514, 20200515, 20200...",13
3,12,"{20200516, 20200517, 20200501, 20200502, 20200...",7
4,13,"{20200501, 20200502, 20200503}",3
...,...,...,...
3831,5760,"{20200502, 20200501, 20200430, 20200503}",4
3832,5761,"{20200418, 20200419, 20200420, 20200421, 20200...",12
3833,5762,"{20200425, 20200426, 20200503}",3
3834,5763,"{20200426, 20200501, 20200503}",3
3835,5764,"{20200425, 20200418, 20200502}",3

In [33]:
# To put the different trip_ids in a list after joining on (route_id, route_long_name, hash and service_id)
route_hash_freq = trips_hash_stop_sequence.groupby(['route_id','route_long_name','hash', 'hash_inverse', 'service_id'])['trip_id'].apply(lambda group_series: group_series.tolist()).reset_index()
route_hash_freq

,route_id,route_long_name,hash,hash_inverse,service_id,trip_id
0,1,Liège-Guillemins -- Liers,-6.465769e+18,-4.288363e+18,48,"[88____:007::8841004:8841673:6:857:20200524, 8..."
1,1,Liège-Guillemins -- Liers,-6.465769e+18,-4.288363e+18,146,[88____:007::8841004:8841673:6:57:20200525]
2,1,Liège-Guillemins -- Liers,-4.288363e+18,-6.465769e+18,1,[88____:007::8841673:8841004:6:559:20201212]
3,1,Liège-Guillemins -- Liers,-4.288363e+18,-6.465769e+18,48,"[88____:007::8841673:8841004:6:528:20200524, 8..."
4,2,Liège-Guillemins -- Namur,-6.464971e+18,-3.538426e+18,1,[88____:046::8841004:8863008:20:722:20201212]
...,...,...,...,...,...,...
6325,678,Den Haag HS (NL) -- Bruxelles-Midi,8.032946e+18,5.656301e+18,1719,[84____:007::8400530:8400280:2:1320:20200507]
6326,679,Den Haag HS (NL) -- Bruxelles-Nord,-4.809365e+18,5.255191e+18,716,"[84____:007::8400131:8400280:3:920:20200705, 8..."
6327,679,Den Haag HS (NL) -- Bruxelles-Nord,-3.326243e+18,8.239505e+18,716,"[84____:007::8400280:8821105:4:1200:20200705, ..."
6328,679,Den Haag HS (NL) -- Bruxelles-Nord,2.556917e+18,4.170221e+18,716,"[88____:007::8812005:8400131:23:818:20200705, ..."
6329,679,Den Haag HS (NL) -- Bruxelles-Nord,8.867455e+18,-2.368845e+18,716,"[88____:007::8821105:8812005:22:1323:20200705,..."

In [34]:
#CHANGED
# To add the sequence of stops to the route_hash_freq dataset
route_hash_freq = pd.merge(route_hash_freq, trips_hash_stop_sequence[['route_id','hash', 'hash_inverse', 'service_id','stop_sequence']], on=['route_id', 'hash', 'hash_inverse', 'service_id'], how='left')
route_hash_freq = route_hash_freq.drop_duplicates( subset = ['route_id', 'hash', 'service_id'], keep = 'first')

route_hash_freq

,route_id,route_long_name,hash,hash_inverse,service_id,trip_id,stop_sequence
0,1,Liège-Guillemins -- Liers,-6.465769e+18,-4.288363e+18,48,"[88____:007::8841004:8841673:6:857:20200524, 8...","[Liège-Guillemins, Liège-Carré, Liège-Saint-La..."
8,1,Liège-Guillemins -- Liers,-6.465769e+18,-4.288363e+18,146,[88____:007::8841004:8841673:6:57:20200525],"[Liège-Guillemins, Liège-Carré, Liège-Saint-La..."
9,1,Liège-Guillemins -- Liers,-4.288363e+18,-6.465769e+18,1,[88____:007::8841673:8841004:6:559:20201212],"[Liers, Milmort, Herstal, Liège-Saint-Lambert,..."
10,1,Liège-Guillemins -- Liers,-4.288363e+18,-6.465769e+18,48,"[88____:007::8841673:8841004:6:528:20200524, 8...","[Liers, Milmort, Herstal, Liège-Saint-Lambert,..."
19,2,Liège-Guillemins -- Namur,-6.464971e+18,-3.538426e+18,1,[88____:046::8841004:8863008:20:722:20201212],"[Liège-Guillemins, Sclessin, Pont-de-Seraing, ..."
...,...,...,...,...,...,...,...
22105,678,Den Haag HS (NL) -- Bruxelles-Midi,8.032946e+18,5.656301e+18,1719,[84____:007::8400530:8400280:2:1320:20200507],"[Rotterdam CS (NL), Den Haag HS (NL)]"
22106,679,Den Haag HS (NL) -- Bruxelles-Nord,-4.809365e+18,5.255191e+18,716,"[84____:007::8400131:8400280:3:920:20200705, 8...","[BREDA (NL), Rotterdam CS (NL), Den Haag HS (NL)]"
22109,679,Den Haag HS (NL) -- Bruxelles-Nord,-3.326243e+18,8.239505e+18,716,"[84____:007::8400280:8821105:4:1200:20200705, ...","[Den Haag HS (NL), Rotterdam CS (NL), BREDA (N..."
22112,679,Den Haag HS (NL) -- Bruxelles-Nord,2.556917e+18,4.170221e+18,716,"[88____:007::8812005:8400131:23:818:20200705, ...","[Bruxelles-Nord, Schaerbeek, Brussels Airport-..."
22115,679,Den Haag HS (NL) -- Bruxelles-Nord,8.867455e+18,-2.368845e+18,716,"[88____:007::8821105:8812005:22:1323:20200705,...","[Noorderkempen (Brecht), Anvers-Luchtbal, Anve..."

In [35]:
# To calculate the number of trip ids in the list of trip_ids and to add it as a new column
number_trip_ids = []
for list_trip_ids in route_hash_freq['trip_id']:
    count = len(list_trip_ids)
    number_trip_ids.append(count)
route_hash_freq['number_trip_ids'] = number_trip_ids

route_hash_freq

,route_id,route_long_name,hash,hash_inverse,service_id,trip_id,stop_sequence,number_trip_ids
0,1,Liège-Guillemins -- Liers,-6.465769e+18,-4.288363e+18,48,"[88____:007::8841004:8841673:6:857:20200524, 8...","[Liège-Guillemins, Liège-Carré, Liège-Saint-La...",8
8,1,Liège-Guillemins -- Liers,-6.465769e+18,-4.288363e+18,146,[88____:007::8841004:8841673:6:57:20200525],"[Liège-Guillemins, Liège-Carré, Liège-Saint-La...",1
9,1,Liège-Guillemins -- Liers,-4.288363e+18,-6.465769e+18,1,[88____:007::8841673:8841004:6:559:20201212],"[Liers, Milmort, Herstal, Liège-Saint-Lambert,...",1
10,1,Liège-Guillemins -- Liers,-4.288363e+18,-6.465769e+18,48,"[88____:007::8841673:8841004:6:528:20200524, 8...","[Liers, Milmort, Herstal, Liège-Saint-Lambert,...",9
19,2,Liège-Guillemins -- Namur,-6.464971e+18,-3.538426e+18,1,[88____:046::8841004:8863008:20:722:20201212],"[Liège-Guillemins, Sclessin, Pont-de-Seraing, ...",1
...,...,...,...,...,...,...,...,...
22105,678,Den Haag HS (NL) -- Bruxelles-Midi,8.032946e+18,5.656301e+18,1719,[84____:007::8400530:8400280:2:1320:20200507],"[Rotterdam CS (NL), Den Haag HS (NL)]",1
22106,679,Den Haag HS (NL) -- Bruxelles-Nord,-4.809365e+18,5.255191e+18,716,"[84____:007::8400131:8400280:3:920:20200705, 8...","[BREDA (NL), Rotterdam CS (NL), Den Haag HS (NL)]",3
22109,679,Den Haag HS (NL) -- Bruxelles-Nord,-3.326243e+18,8.239505e+18,716,"[84____:007::8400280:8821105:4:1200:20200705, ...","[Den Haag HS (NL), Rotterdam CS (NL), BREDA (N...",3
22112,679,Den Haag HS (NL) -- Bruxelles-Nord,2.556917e+18,4.170221e+18,716,"[88____:007::8812005:8400131:23:818:20200705, ...","[Bruxelles-Nord, Schaerbeek, Brussels Airport-...",3
22115,679,Den Haag HS (NL) -- Bruxelles-Nord,8.867455e+18,-2.368845e+18,716,"[88____:007::8821105:8812005:22:1323:20200705,...","[Noorderkempen (Brecht), Anvers-Luchtbal, Anve...",3

In [36]:
#CHANGED
# To merge the route_hash_freq df with the service_id_df to get the sets of dates corresponding
route_hash_service_freq = pd.merge(route_hash_freq, service_id_dates, on='service_id', how='left')
route_hash_service_freq_copy = route_hash_service_freq.copy()
route_hash_service_freq

,route_id,route_long_name,hash,hash_inverse,service_id,trip_id,stop_sequence,number_trip_ids,dates,count_service_id
0,1,Liège-Guillemins -- Liers,-6.465769e+18,-4.288363e+18,48,"[88____:007::8841004:8841673:6:857:20200524, 8...","[Liège-Guillemins, Liège-Carré, Liège-Saint-La...",8,"{20200523, 20200524}",2
1,1,Liège-Guillemins -- Liers,-6.465769e+18,-4.288363e+18,146,[88____:007::8841004:8841673:6:57:20200525],"[Liège-Guillemins, Liège-Carré, Liège-Saint-La...",1,"{20200524, 20200525}",2
2,1,Liège-Guillemins -- Liers,-4.288363e+18,-6.465769e+18,1,[88____:007::8841673:8841004:6:559:20201212],"[Liers, Milmort, Herstal, Liège-Saint-Lambert,...",1,"{20201107, 20201114, 20201121, 20200613, 20201...",20
3,1,Liège-Guillemins -- Liers,-4.288363e+18,-6.465769e+18,48,"[88____:007::8841673:8841004:6:528:20200524, 8...","[Liers, Milmort, Herstal, Liège-Saint-Lambert,...",9,"{20200523, 20200524}",2
4,2,Liège-Guillemins -- Namur,-6.464971e+18,-3.538426e+18,1,[88____:046::8841004:8863008:20:722:20201212],"[Liège-Guillemins, Sclessin, Pont-de-Seraing, ...",1,"{20201107, 20201114, 20201121, 20200613, 20201...",20
...,...,...,...,...,...,...,...,...,...,...
6325,678,Den Haag HS (NL) -- Bruxelles-Midi,8.032946e+18,5.656301e+18,1719,[84____:007::8400530:8400280:2:1320:20200507],"[Rotterdam CS (NL), Den Haag HS (NL)]",1,"{20200504, 20200507}",2
6326,679,Den Haag HS (NL) -- Bruxelles-Nord,-4.809365e+18,5.255191e+18,716,"[84____:007::8400131:8400280:3:920:20200705, 8...","[BREDA (NL), Rotterdam CS (NL), Den Haag HS (NL)]",3,"{20200704, 20200705}",2
6327,679,Den Haag HS (NL) -- Bruxelles-Nord,-3.326243e+18,8.239505e+18,716,"[84____:007::8400280:8821105:4:1200:20200705, ...","[Den Haag HS (NL), Rotterdam CS (NL), BREDA (N...",3,"{20200704, 20200705}",2
6328,679,Den Haag HS (NL) -- Bruxelles-Nord,2.556917e+18,4.170221e+18,716,"[88____:007::8812005:8400131:23:818:20200705, ...","[Bruxelles-Nord, Schaerbeek, Brussels Airport-...",3,"{20200704, 20200705}",2
6329,679,Den Haag HS (NL) -- Bruxelles-Nord,8.867455e+18,-2.368845e+18,716,"[88____:007::8821105:8812005:22:1323:20200705,...","[Noorderkempen (Brecht), Anvers-Luchtbal, Anve...",3,"{20200704, 20200705}",2

In [37]:
##NEW
'''Groups the service_id together for each route_id and hash combination'''
for index, combi_route_id_hash in route_hash_service_freq_copy.groupby(['route_id','hash'], as_index = False)['service_id'].last().iterrows():
    set_service_id = set(route_hash_service_freq.loc[(route_hash_service_freq_copy['route_id'] == combi_route_id_hash['route_id']) & (route_hash_service_freq_copy['hash'] == combi_route_id_hash['hash'])]['service_id'])
    route_hash_service_freq_copy.loc[(route_hash_service_freq_copy['route_id'] == combi_route_id_hash['route_id']) & (route_hash_service_freq_copy['hash'] == combi_route_id_hash['hash']),['service_id']] = set_service_id
route_hash_service_freq_copy

,route_id,route_long_name,hash,hash_inverse,service_id,trip_id,stop_sequence,number_trip_ids,dates,count_service_id
0,1,Liège-Guillemins -- Liers,-6.465769e+18,-4.288363e+18,"{48, 146}","[88____:007::8841004:8841673:6:857:20200524, 8...","[Liège-Guillemins, Liège-Carré, Liège-Saint-La...",8,"{20200523, 20200524}",2
1,1,Liège-Guillemins -- Liers,-6.465769e+18,-4.288363e+18,"{48, 146}",[88____:007::8841004:8841673:6:57:20200525],"[Liège-Guillemins, Liège-Carré, Liège-Saint-La...",1,"{20200524, 20200525}",2
2,1,Liège-Guillemins -- Liers,-4.288363e+18,-6.465769e+18,"{48, 1}",[88____:007::8841673:8841004:6:559:20201212],"[Liers, Milmort, Herstal, Liège-Saint-Lambert,...",1,"{20201107, 20201114, 20201121, 20200613, 20201...",20
3,1,Liège-Guillemins -- Liers,-4.288363e+18,-6.465769e+18,"{48, 1}","[88____:007::8841673:8841004:6:528:20200524, 8...","[Liers, Milmort, Herstal, Liège-Saint-Lambert,...",9,"{20200523, 20200524}",2
4,2,Liège-Guillemins -- Namur,-6.464971e+18,-3.538426e+18,"{1, 1084, 1012, 668, 1309}",[88____:046::8841004:8863008:20:722:20201212],"[Liège-Guillemins, Sclessin, Pont-de-Seraing, ...",1,"{20201107, 20201114, 20201121, 20200613, 20201...",20
...,...,...,...,...,...,...,...,...,...,...
6325,678,Den Haag HS (NL) -- Bruxelles-Midi,8.032946e+18,5.656301e+18,"{41, 812, 1685, 1717, 1719, 188}",[84____:007::8400530:8400280:2:1320:20200507],"[Rotterdam CS (NL), Den Haag HS (NL)]",1,"{20200504, 20200507}",2
6326,679,Den Haag HS (NL) -- Bruxelles-Nord,-4.809365e+18,5.255191e+18,{716},"[84____:007::8400131:8400280:3:920:20200705, 8...","[BREDA (NL), Rotterdam CS (NL), Den Haag HS (NL)]",3,"{20200704, 20200705}",2
6327,679,Den Haag HS (NL) -- Bruxelles-Nord,-3.326243e+18,8.239505e+18,{716},"[84____:007::8400280:8821105:4:1200:20200705, ...","[Den Haag HS (NL), Rotterdam CS (NL), BREDA (N...",3,"{20200704, 20200705}",2
6328,679,Den Haag HS (NL) -- Bruxelles-Nord,2.556917e+18,4.170221e+18,{716},"[88____:007::8812005:8400131:23:818:20200705, ...","[Bruxelles-Nord, Schaerbeek, Brussels Airport-...",3,"{20200704, 20200705}",2
6329,679,Den Haag HS (NL) -- Bruxelles-Nord,8.867455e+18,-2.368845e+18,{716},"[88____:007::8821105:8812005:22:1323:20200705,...","[Noorderkempen (Brecht), Anvers-Luchtbal, Anve...",3,"{20200704, 20200705}",2

In [38]:
route_hash_service_freq.to_csv(r'/Users/pol/Desktop/CSV_export/export_route_serv_freq.csv', index = False, header=True, encoding='utf-8-sig')

In [39]:
'''Get the distinct stop sequences for creating the possible roads combinations later on'''
distinct_stop_sequences = route_hash_service_freq_copy.drop_duplicates(subset = ["route_id", 'hash'])[['route_id','hash','route_long_name','stop_sequence', 'service_id']]
distinct_stop_sequences

,route_id,hash,route_long_name,stop_sequence,service_id
0,1,-6.465769e+18,Liège-Guillemins -- Liers,"[Liège-Guillemins, Liège-Carré, Liège-Saint-La...","{48, 146}"
2,1,-4.288363e+18,Liège-Guillemins -- Liers,"[Liers, Milmort, Herstal, Liège-Saint-Lambert,...","{48, 1}"
4,2,-6.464971e+18,Liège-Guillemins -- Namur,"[Liège-Guillemins, Sclessin, Pont-de-Seraing, ...","{1, 1084, 1012, 668, 1309}"
9,2,-5.388870e+18,Liège-Guillemins -- Namur,"[Liège-Guillemins, Sclessin, Pont-de-Seraing, ...","{1308, 749}"
11,2,-4.718380e+18,Liège-Guillemins -- Namur,"[Flémalle-Haute, Leman, Flémalle-Grande, Jemep...","{669, 671}"
...,...,...,...,...,...
6320,678,8.032946e+18,Den Haag HS (NL) -- Bruxelles-Midi,"[Rotterdam CS (NL), Den Haag HS (NL)]","{41, 812, 1685, 1717, 1719, 188}"
6326,679,-4.809365e+18,Den Haag HS (NL) -- Bruxelles-Nord,"[BREDA (NL), Rotterdam CS (NL), Den Haag HS (NL)]",{716}
6327,679,-3.326243e+18,Den Haag HS (NL) -- Bruxelles-Nord,"[Den Haag HS (NL), Rotterdam CS (NL), BREDA (N...",{716}
6328,679,2.556917e+18,Den Haag HS (NL) -- Bruxelles-Nord,"[Bruxelles-Nord, Schaerbeek, Brussels Airport-...",{716}
6329,679,8.867455e+18,Den Haag HS (NL) -- Bruxelles-Nord,"[Noorderkempen (Brecht), Anvers-Luchtbal, Anve...",{716}

In [40]:
distinct_stop_sequences.to_csv(r'/Users/pol/Desktop/CSV_export/export_route_XXX.csv', index = False, header=True, encoding='utf-8-sig')

In [41]:
#Test to keep because interesting
selection = ['Namur', 'Tournai']
mask = distinct_stop_sequences['stop_sequence'].apply(lambda x: any(item for item in selection if (item == x[-1]) or (item == x[0])))
distinct_stop_sequences[mask]

,route_id,hash,route_long_name,stop_sequence,service_id
4,2,-6.464971e+18,Liège-Guillemins -- Namur,"[Liège-Guillemins, Sclessin, Pont-de-Seraing, ...","{1, 1084, 1012, 668, 1309}"
13,2,-4.557325e+18,Liège-Guillemins -- Namur,"[Namur, Marche-les-Dames, Namêche, Sclaigneaux...","{192, 669, 671}"
16,2,-3.538426e+18,Liège-Guillemins -- Namur,"[Namur, Marche-les-Dames, Namêche, Sclaigneaux...","{1084, 670}"
18,2,-3.063674e+18,Liège-Guillemins -- Namur,"[Flémalle-Haute, Engis, Haute-Flône, Amay, Amp...","{192, 669, 671}"
21,2,4.527171e+18,Liège-Guillemins -- Namur,"[Namur, Marche-les-Dames, Namêche, Sclaigneaux...","{121, 1012, 1308, 119}"
...,...,...,...,...,...
6156,672,-3.204524e+18,Namur -- Tournai,"[Namur, Ronet, Flawinne, Floreffe, Franière, M...","{123, 196, 1054, 463}"
6160,672,-2.637982e+18,Namur -- Tournai,"[Tournai, Antoing, Maubray, Callenelle, Péruwe...","{192, 79, 1680, 1681, 1682, 340, 342, 542}"
6168,672,4.238036e+18,Namur -- Tournai,"[Tournai, Antoing, Maubray, Callenelle, Péruwe...",{463}
6169,672,6.143910e+18,Namur -- Tournai,"[Namur, Ronet, Flawinne, Floreffe, Franière, M...","{192, 1700, 463, 79, 1680, 1681, 340, 542}"
6177,672,6.503203e+18,Namur -- Tournai,"[Charleroi-Sud, Marchienne-au-Pont, Forchies, ...","{1054, 463}"

# Without route_long_name

here we have to change the name France

In [204]:
'''Get the distinct stop sequences for creating the possible roads combinations later on'''
distinct_stop_sequences = route_hash_service_freq_copy.drop_duplicates(subset = ["route_id", 'hash'])[['route_id','hash','stop_sequence', 'service_id']]
distinct_stop_sequences

,route_id,hash,stop_sequence,service_id
0,1,-6.465769e+18,"[Liège-Guillemins, Liège-Carré, Liège-Saint-La...","{48, 146}"
2,1,-4.288363e+18,"[Liers, Milmort, Herstal, Liège-Saint-Lambert,...","{48, 1}"
4,2,-6.464971e+18,"[Liège-Guillemins, Sclessin, Pont-de-Seraing, ...","{1, 1084, 1012, 668, 1309}"
9,2,-5.388870e+18,"[Liège-Guillemins, Sclessin, Pont-de-Seraing, ...","{1308, 749}"
11,2,-4.718380e+18,"[Flémalle-Haute, Leman, Flémalle-Grande, Jemep...","{669, 671}"
...,...,...,...,...
6320,678,8.032946e+18,"[Rotterdam CS (NL), Den Haag HS (NL)]","{41, 812, 1685, 1717, 1719, 188}"
6326,679,-4.809365e+18,"[BREDA (NL), Rotterdam CS (NL), Den Haag HS (NL)]",{716}
6327,679,-3.326243e+18,"[Den Haag HS (NL), Rotterdam CS (NL), BREDA (N...",{716}
6328,679,2.556917e+18,"[Bruxelles-Nord, Schaerbeek, Brussels Airport-...",{716}
6329,679,8.867455e+18,"[Noorderkempen (Brecht), Anvers-Luchtbal, Anve...",{716}

In [271]:
'''Some functions to better factorise the functions in the coming cells'''

def select_stop_sequences(stop_sequences_df, route_id):
    '''retruns the stop sequences with the selected route_id'''
    return stop_sequences_df[stop_sequences_df['route_id'] == route_id].copy()

In [273]:
'''Finds the routes that can be either extended from behind or from after and those which are complete sequences'''

def get_extention_indexes(stop_sequences_df):
    '''returns the tree indexes: index_of_extendable, index_of_begin_sequences, index_of_complete_sequences'''
    #intiate the dictionnaries, that will be used to retrieve different rows later on
    index_of_extendable = {}
    index_of_begin_sequences = {}
    index_of_complete_sequences = {}
    for route_id in distinct_stop_sequences['route_id'].unique():
        #select the route with the route_id selected by the loop iteration
        route_sequences_route_id = select_stop_sequences(stop_sequences_df, route_id)
        for index_trip, trip in route_sequences_route_id.iterrows():
            #checks the extentions possible for the trip that can follow after its last stop
            possible_extentions_after = route_sequences_route_id[route_sequences_route_id['stop_sequence'].apply(lambda x: any(item for item in [trip['stop_sequence'][-1]] if (item == x[0]) and not(set(x[1:]) & set(trip['stop_sequence']))))].copy()
            #checks that those extentions have a common service_id as the trip
            possible_extentions_after = possible_extentions_after[possible_extentions_after['service_id'].apply(lambda x: any(item for item in trip['service_id'] if item in x))].copy()
            #checks the extentions possible for the trip that can follow before its first stop
            possible_extentions_behind = route_sequences_route_id[route_sequences_route_id['stop_sequence'].apply(lambda x: any(item for item in [trip['stop_sequence'][0]] if (item == x[-1]) and not(set(x[:-1]) & set(trip['stop_sequence']))))].copy()        
            #checks that those extentions have a common service_id as the trip
            possible_extentions_behind = possible_extentions_behind[possible_extentions_behind['service_id'].apply(lambda x: any(item for item in trip['service_id'] if item in x))].copy()
            #put all the sequences that can be extended either from the beginning either from the end together
            possible_extentions = possible_extentions_after.append(possible_extentions_behind, ignore_index = True)
            if not possible_extentions.empty:
                if route_id not in index_of_extendable:
                    index_of_extendable[route_id] = []
                index_of_extendable[route_id].append(index_trip)
                if possible_extentions_behind.empty:
                    if route_id not in index_of_begin_sequences:
                        index_of_begin_sequences[route_id] = []
                    index_of_begin_sequences[route_id].append(index_trip)
            elif possible_extentions.empty:
                if route_id not in index_of_complete_sequences:
                    index_of_complete_sequences[route_id] = []
                index_of_complete_sequences[route_id].append(index_trip)
                
    return index_of_extendable, index_of_begin_sequences, index_of_complete_sequences

In [277]:
'''Creates all the sequences of routes possible to reconstruct the real route'''
def possible_sequences_construction(stop_sequences_df, index_of_extendable, index_of_begin_sequences, index_of_complete_sequences):
    '''returns the first part of the route_creation, two others need to be added'''
    import copy
    #create an empty df for the process of route creation
    route_creation  = pd.DataFrame()
    for route_id in index_of_extendable:
        #checks if some parts are begin sequences, if not, then we can't build routes with multiple sequences
        if route_id in index_of_begin_sequences:
            #create a copy of the df with only the route considered in the loop iteration
            routes_with_route_id = select_stop_sequences(stop_sequences_df, route_id)
            #create a df where only the routes that have an end stop as their first element of the sequence
            route_creation_route_id = routes_with_route_id.loc[index_of_begin_sequences[route_id]][['route_id', 'hash', 'stop_sequence', 'service_id']]
            #create a df with the exentable sequences for that route_id
            route_creation_extensions_route_id = routes_with_route_id.loc[index_of_extendable[route_id]][['route_id', 'hash', 'stop_sequence','service_id']]    
            #make the hash column as a column of lists
            route_creation_route_id['hash'] = route_creation_route_id['hash'].apply(lambda x: [x])
            route_creation_route_id = route_creation_route_id.reset_index(drop=True)
            #to stop the while loop when all the routes are complete in the df for the route_id of the loop iteration
            complete_routes = 0
            while complete_routes < len(route_creation_route_id.index):
                #use a deepcopy to not impact the iterrows of the main loop
                route_creation_deep_copy = copy.deepcopy(route_creation_route_id)
                for index_original, route_part in route_creation_deep_copy.iterrows():
                    #create a dataframe of the possible extentions for each route_part
                    #select an extention only if the extention is the next part of the route and also that no other station are repeated in the sequence if this extention is added(otherwise it might cause an infinite loop)
                    possible_extentions = route_creation_extensions_route_id[route_creation_extensions_route_id['stop_sequence'].apply(lambda x: any(item for item in [route_part['stop_sequence'][-1]] if (item == x[0]) and not(set(x[1:]) & set(route_part['stop_sequence']))))].copy()
                    #take only those extentions that have a common service_id with the route_part
                    possible_extentions = possible_extentions[possible_extentions['service_id'].apply(lambda x: any(item for item in route_part['service_id'] if item in x))].copy()                
                    #checks whether any extention fullfilling the criterias has been found
                    if not (possible_extentions.empty):
                        #if so, extend it with every single possibilities
                        for index_extention, possible_extention in possible_extentions.iterrows():
                            #must create a deepcopy, otherwise the orignal hash list will change as well (mutable)
                            updated_hash = copy.deepcopy(route_part['hash'])
                            updated_hash.append(possible_extention['hash'])
                            updated_route_sequence = route_part['stop_sequence'] + possible_extention['stop_sequence'][1:]
                            common_service_id = possible_extention['service_id'] & route_part['service_id']
                            route_creation_route_id.loc[max(route_creation_route_id.index)+1] = [route_id, updated_hash, updated_route_sequence, common_service_id]
                        #then delete the route with the index (see loop here above)
                        route_creation_route_id = route_creation_route_id.drop(index = index_original)            
                    #the route can't be extended anymore
                    else:
                        complete_routes += 1
            #adds all the possible routes created with the trips of the route_id of the main loop
            route_creation = route_creation.append(route_creation_route_id, ignore_index = True)
    return route_creation

In [278]:
'''Adds the full sequences to the route_creation dataframe'''

def add_full_sequences(stop_sequences_df, route_creation):
    '''returns the second part of the route_creation, one other needs to be added'''
    for route_id in index_of_complete_sequences:
        #findes all the complete sequences for that route_id
        copy_complete_sequences_df = stop_sequences_df.loc[index_of_complete_sequences[route_id]][['route_id','hash','stop_sequence', 'service_id']].copy()
        copy_complete_sequences_df['hash'] = copy_complete_sequences_df['hash'].apply(lambda x: [x])
        #adds each of them in the route_creation dataframe
        for index_complete_sequence, complete_sequence in copy_complete_sequences_df.iterrows():
            route_creation = route_creation.append(complete_sequence, ignore_index = True)
    route_creation = route_creation.sort_values(by=['route_id'], ignore_index = True)
    return route_creation

In [289]:
'''Adds the sequences that were not yet added in the route_creation dataframe'''

def add_unused_sequences(stop_sequences_df, route_creation):
    '''returns the third part of the route_creation'''
    for route_id in stop_sequences_df['route_id'].unique():
        if route_id in route_creation['route_id'].unique():
            #get a set of the hashes that were employed to create the routes for that route_id
            used_sequences_hash = set(route_creation[route_creation['route_id'] == route_id].apply(lambda x: pd.Series(x['hash']),axis=1).stack().reset_index(level=1, drop=True))
            #get a tuple of all the route sequences for that route_id
            used_sequences = tuple(route_creation[route_creation['route_id'] == route_id]['stop_sequence'])
            copy_sequences_route_id = select_stop_sequences(stop_sequences_df, route_id)[['route_id','hash','stop_sequence', 'service_id']]
            copy_sequences_route_id['hash'] = copy_sequences_route_id['hash'].apply(lambda x: [x]) 
            #adds the hashes that were not employed in any route creations for that route_id
            for index_trip, trip in copy_sequences_route_id.iterrows():
                #first element of the list because there is always only one element
                if trip['hash'][0] not in used_sequences_hash:
                    #checks that the sequence is not a sublist of any existing sequences
                    is_subsequence = False
                    for sequence in used_sequences:
                        if set(trip['stop_sequence']).issubset(sequence):
                            is_subsequence = True
                    if not is_subsequence:
                        route_creation = route_creation.append(trip, ignore_index = True)
    return route_creation

In [330]:
'''Calculates the frequency of the constructed routes just made in the route_creation dataframe'''
    
def calculate_frequenty_new_sequences(number_of_trips_per_hash, service_id_count_dates, route_creation):
    '''calculates the frequencies of route_construction_third'''
    #put the default value of the frequency to 0
    route_creation['frequency'] = 0
    for index_sequence, sequence in route_creation[['route_id','hash','service_id']].iterrows():
        #initialize the varibles
        sequence_frequency = 0
        set_common_service_id = sequence['service_id']
        if set_common_service_id:
            #select the number_of_trips_per_hash only for the considered route_id
            number_of_trips_per_hash_route_id = number_of_trips_per_hash[number_of_trips_per_hash['route_id'] == sequence['route_id']]
            #only select the trips with the hash value contained in the sequence and with the same route_id
            containing_hash = number_of_trips_per_hash_route_id[number_of_trips_per_hash_route_id['hash'].apply(lambda x: any(item for item in sequence['hash'] if x == item))]
            #loop over each service_id that were common during the trip
            for service_id in set_common_service_id:
                service_id_number_days = service_id_count_dates[service_id_count_dates['service_id'] == service_id].iloc[0]['count_service_id']
                #adds the minimum number of trips per day multiplied by the number of days in the service_id
                sequence_frequency += containing_hash[containing_hash['service_id'] == service_id]['number_trip_ids'].min() * service_id_number_days
            #adds the frequency in of the new route sequence
            route_creation.loc[index_sequence, 'frequency'] = sequence_frequency
    return route_creation

In [336]:
def calculate_hash_route_creation(route_creation): 
    '''calculates the hash and the hash inverse of the route_creation'''
    #copy the route_creation dataFrame
    route_creation_hash = route_creation.copy()
    #create a column called hash and hash_invese that contains NaN values
    route_creation_hash['hash'] = np.nan
    route_creation_hash['hash_inverse'] = np.nan
    #calculate the hash and the hash inverse using the lists in stop_sequence
    for index, route_sequence in route_creation_hash.iterrows():
        route_creation_hash.loc[index, 'hash'] = hash(tuple(route_sequence['stop_sequence']))
        route_creation_hash.loc[index, 'hash_inverse'] = hash(tuple(list(route_sequence['stop_sequence'])[::-1]))
    return route_creation_hash

In [339]:
'''Regroup the routes that are the same (even though they are in the opposite direction)'''

def regroup_same_stop_sequences(route_creation_hash):
    '''regroups the stop_sequences that are the same'''
    
    route_creation_max_hash = route_creation_hash.copy()
    route_creation_max_hash['max_hash'] = route_creation_max_hash[['hash', 'hash_inverse']].max(axis=1)
    #create a df that sums the frequence of the trips going from opposite directions
    route_creation_max_hash_freq = route_creation_max_hash.groupby(['route_id','max_hash'], as_index = False)[['frequency']].sum()
    #renames the max_hash column into hash so it the dataframe can be merged with route_hash_without_freq
    route_creation_max_hash_freq = route_creation_max_hash_freq.rename(columns = {'max_hash':'hash'})
    #drops the column freq_sequence_route because the one that is of interest is in route_creation_max_hash_freq
    route_hash_without_freq = route_creation_hash.copy().drop(['frequency'], axis = 1)
    route_hash_without_freq = route_hash_without_freq.drop_duplicates(subset=['route_id', 'hash'])
    route_hash_freq_combined_first_merge = pd.merge(route_creation_max_hash_freq, route_hash_without_freq, on=['route_id', 'hash'], how='left')
    route_hash_freq_combined_first_merge = route_hash_freq_combined_first_merge.drop(['hash_inverse'], axis = 1)
    #selects the part of the dataset that doesn't have NaN (because for the NaN, their hash_value that was max was the one in hash_inverse and it didn't exist in the other df), so we can concatenate it with the part that had NaN later
    route_hash_freq_first_part = route_hash_freq_combined_first_merge[pd.notnull(route_hash_freq_combined_first_merge['stop_sequence'])]
    #selects one part the part of the dataset that does have NaN, so we can concatenate it with the part that has no NaN later on.
    #but first, we will need to fill those NaN values (done in the code lines behind this one)
    route_hash_freq_second_part = route_hash_freq_combined_first_merge[pd.isnull(route_hash_freq_combined_first_merge['stop_sequence'])][['route_id', 'hash', 'frequency']]
    #renames the hash column into hash_inverse so it the dataframe can be merged with route_hash_without_freq (because it didn't work with 'hash' on the first merge)
    route_hash_freq_second_part = route_hash_freq_second_part.rename(columns = {'hash':'hash_inverse'})
    route_hash_freq_second_part = pd.merge(route_hash_freq_second_part, route_hash_without_freq, on=['route_id', 'hash_inverse'], how='left')
    #the hash that is of interest in the final df will be hash and not hash_inverse
    route_hash_freq_second_part  = route_hash_freq_second_part.drop(['hash_inverse'], axis = 1)
    route_hash_freq_combined_not_sorted = pd.concat([route_hash_freq_first_part, route_hash_freq_second_part])
    route_hash_freq_combined = route_hash_freq_combined_not_sorted.sort_values(by = ['route_id'])
    route_hash_freq_combined = route_hash_freq_combined.reset_index(drop = True)
    return route_hash_freq_combined

In [344]:
'''Deletes the routes that do not represent 10% of the total route frequency and creates new route, if some of them are different'''

def apply_treshold_route_creation(route_hash_freq_combined): 
    #calculates the total frequency per route_id
    frequency_each_route = route_hash_freq_combined.groupby(['route_id'], as_index = False)['frequency'].sum()
    frequency_treshold = frequency_each_route.copy()
    #calculates the treshold (here 10%)
    frequency_treshold['frequency'] = frequency_treshold['frequency']/10
    frequency_treshold.rename(columns = {'frequency':'frequency_treshold'}, inplace = True)
    route_hash_freq_treshold = route_hash_freq_combined.merge(frequency_treshold, on='route_id', how = 'left')
    #find the sequences that are not more than 10% of the route frequency and delete them
    index_names = route_hash_freq_treshold[route_hash_freq_treshold['frequency'] < route_hash_freq_treshold['frequency_treshold']].index
    route_hash_freq_treshold.drop(index_names, inplace = True)
    #selects the sequences that are not the most frequent per route_id
    sequences_max_freq = route_hash_freq_treshold.groupby(['route_id'],as_index = False)['frequency'].max()
    sequences_max_freq.rename(columns = {'frequency':'max_frequency'}, inplace = True)
    sequences_max_freq_merged = route_hash_freq_treshold.merge(sequences_max_freq, on='route_id', how='left')
    sequences_non_max_freq_index = sequences_max_freq_merged[sequences_max_freq_merged['frequency'] != sequences_max_freq_merged['max_frequency']].index
    #those selected sequences get a new route_id that starts from routes['route_id'].max() + 1 and increments by one for each new route
    route_id_creation =  route_hash_freq_combined['route_id'].max() + 1
    new_route_id_column = list(range(route_id_creation, route_id_creation + len(sequences_non_max_freq_index)))    
    sequences_max_freq_merged.loc[sequences_non_max_freq_index, 'route_id'] = new_route_id_column
    sequences_max_freq_merged = sequences_max_freq_merged.sort_values(by=['route_id'],ignore_index=True)
    #keep only the column route_id and stop_sequence
    final_routes = sequences_max_freq_merged.drop(columns=['hash', 'frequency', 'frequency_treshold', 'max_frequency', 'service_id'])
    return final_routes

In [350]:
'''Makes a set that can be used for building the edges of the graph using Networkx package'''
def create_df_for_Networkx(final_routes):
    '''return df_for_edges a df that can be used to build a Networkx L-space graph'''
    #takes the list stop sequence and make it a new column for each stop
    stop_sequence_values = final_routes.apply(lambda x: pd.Series(x['stop_sequence']),axis=1).stack().reset_index(level=1, drop=True)
    stop_sequence_values.name = 'stop_sequence'
    final_routes_stops = final_routes.drop('stop_sequence', axis=1).join(stop_sequence_values)
    final_routes_stops = final_routes_stops.reset_index(drop=True)
    #Creates a shifted instance of the df to use it for the final result
    final_routes_stops_shifted = final_routes_stops.shift()
    #Check if which of the rows are followed by a row with the same trip_id
    final_routes_stops_shifted['match'] = final_routes_stops_shifted['route_id'].eq(final_routes_stops['route_id'])
    #Drop the rows for which this condition is not satisfied
    final_routes_stops_shifted.drop(final_routes_stops_shifted[final_routes_stops_shifted['match'] == False].index, inplace = True)
    final_routes_stops_shifted.rename(columns=
      {"stop_sequence": "stop_name_1",
      "stop_name": "stop_name_1"}, inplace=True)
    #joins the df with its shifted version sothat each sequence of two stations is represented in the table as a row
    df_for_edges = final_routes_stops_shifted.join(final_routes_stops[['stop_sequence']], lsuffix='_caller', rsuffix='_other', how='left')
    df_for_edges.rename(columns=
      {"stop_sequence": "stop_name_2",
      "stop_name": "stop_name_2"}, inplace=True)

    df_for_edges['route_id'] = df_for_edges['route_id'].astype(np.int64)
    df_for_edges = df_for_edges.drop_duplicates()
    df_for_edges = df_for_edges[['route_id','stop_name_1', 'stop_name_2']]
    df_for_edges = df_for_edges.reset_index(drop=True)
    return df_for_edges

In [351]:
def full_route_creation(stop_sequences_df, number_of_trips_per_hash, service_id_count_dates):
    '''return a df that can be used to make a Networkx L-space (with treshold applied of 10%)'''
    index_of_extendable, index_of_begin_sequences, index_of_complete_sequences = get_extention_indexes(stop_sequences_df)
    route_creation_first = possible_sequences_construction(stop_sequences_df, index_of_extendable, index_of_begin_sequences, index_of_complete_sequences)
    route_creation_second = add_full_sequences(stop_sequences_df, route_creation_first)
    route_creation_third = add_unused_sequences(stop_sequences_df, route_creation_second)
    route_creation_frequency_single = calculate_frequenty_new_sequences(number_of_trips_per_hash, service_id_count_dates, route_creation_third)
    route_creation_hash = calculate_hash_route_creation(route_creation_frequency_single)
    route_hash_freq_combined = regroup_same_stop_sequences(route_creation_hash)
    final_routes = apply_treshold_route_creation(route_hash_freq_combined)
    df_for_edges = create_df_for_Networkx(final_routes)
    
    return df_for_edges

In [352]:
full_route_creation(distinct_stop_sequences, route_hash_service_freq.copy(), service_id_df)

       route_id                stop_name_1                stop_name_2
0             1                      Liers                    Milmort
1             1                    Milmort                    Herstal
2             1                    Herstal        Liège-Saint-Lambert
3             1        Liège-Saint-Lambert                Liège-Carré
4             1                Liège-Carré           Liège-Guillemins
...         ...                        ...                        ...
10102       729                Erps-Kwerps                 Kortenberg
10103       729                 Kortenberg                   Nossegem
10104       729                   Nossegem  Brussels Airport-Zaventem
10105       729  Brussels Airport-Zaventem                 Schaerbeek
10106       729                 Schaerbeek             Bruxelles-Nord

[10107 rows x 3 columns]

# Checks

In [252]:
'''Checks which routes are missing in the new method without using route_long_name'''
route_creation_France_copy = route_hash_freq_combined_France.copy()
route_creation_France_copy['hash_hash'] = route_creation_France_copy['hash'].apply(lambda x: hash(tuple([x])))
route_creation_copy = route_hash_freq_combined_first.copy()
route_creation_copy['hash_hash'] = route_creation_copy['hash'].apply(lambda x: hash(tuple([x])))
df2 = route_creation_copy.set_index(['hash_hash'])
other2 = route_creation_France_copy.set_index(['hash_hash'])
#Look for index overlap, ~
final = route_creation_France_copy[~other2.index.isin(df2.index)]
final

,route_id,hash,frequency,stop_sequence,service_id,hash_hash
10,9,-8.127037e+18,5,"[Ettelbruck(LU), Michelau (LU), Kautenbach (LU...",{5695},7827585256869007569
190,237,-7.378646e+18,4,"[Lille Flandres (FR), Croix Wasquehal (FR), Cr...","{43, 115, 108}",-101612826345587387
197,240,5.283183e+18,111,"[Courtrai, Mouscron, Mouscron-Frontière, Tourc...",{422},2718596800494355293
265,281,8.452913e+18,2,"[Tournai, Leuze, Ath, Silly, Enghien, Hal, Bui...",{80},6841812713340015251
382,353,-3.904301e+18,16,"[Landen, Neerwinden, Ezemaal, Tirlemont, Vertr...",{45},-2789502191251753194
470,424,-1.295045e+18,112,"[Ottignies, Limal, Bierges-Walibi, Wavre, Bass...",{193},7633057162903144078
472,425,-7.808089e+18,1764,"[Arlon, Sterpenich-Frontière, Luxembourg (LU)]","{161, 45, 1257, 1258, 1259, 1260, 1261, 1262, ...",5067806726111679975

In [253]:
route_creation_copy[route_creation_copy['route_id'] == 673]

,route_id,hash,frequency,stop_sequence,hash_hash
744,673,4.773747e+18,0,"[Amsterdam Cs (NL), Schiphol (NL), Den Haag HS...",-3458808086051398186
745,673,4.084438e+18,7,"[Amsterdam Cs (NL), Schiphol (NL), Rotterdam C...",7240144537664583208
746,673,5.784554e+18,5862,"[Bruxelles-Midi, Bruxelles-Chapelle, Bruxelles...",-6663534060565410957
747,673,7.437173e+18,661,"[Amsterdam Cs (NL), Schiphol (NL), Den Haag HS...",1490408691486537676
748,673,8.299610e+18,12,"[Bruxelles-Midi, Bruxelles-Chapelle, Bruxelles...",2120401449308216569
749,673,1.807327e+18,0,"[Amsterdam Cs (NL), Schiphol (NL), Den Haag HS...",-4664248229865201192

In [254]:
route_creation_France_copy[route_creation_France_copy['route_id'] == 673]

,route_id,hash,frequency,stop_sequence,service_id,hash_hash
740,673,4.084438e+18,7,"[Amsterdam Cs (NL), Schiphol (NL), Rotterdam C...",{1699},7240144537664583208
741,673,5.784554e+18,5862,"[Bruxelles-Midi, Bruxelles-Chapelle, Bruxelles...",{1685},-6663534060565410957
742,673,7.437173e+18,661,"[Amsterdam Cs (NL), Schiphol (NL), Den Haag HS...","{188, 1685}",1490408691486537676
743,673,8.299610e+18,12,"[Bruxelles-Midi, Bruxelles-Chapelle, Bruxelles...",{716},2120401449308216569

In [95]:
'''Checks which routes are missing in the new method without using route_long_name'''
route_creation_France_copy = route_creation_France.copy()
route_creation_France_copy['hash_hash'] = route_creation_France_copy['hash'].apply(lambda x: hash(tuple(x)))
route_creation_copy = route_creation.copy()
route_creation_copy['hash_hash'] = route_creation_copy['hash'].apply(lambda x: hash(tuple(x)))
df2 = route_creation_copy.set_index(['hash_hash'])
other2 = route_creation_France_copy.set_index(['hash_hash'])
#Look for index overlap, ~
final = route_creation_copy[~df2.index.isin(other2.index)]
#final
final[final['route_id'] == 3]

,route_id,hash,stop_sequence,frequency,hash_hash
9,3,"[7.353588791640738e+18, -2540391171726936.0]","[Liers, Milmort, Herstal, Liège-Saint-Lambert,...",0,-3047938159533490958
10,3,"[-8.108149592008595e+18, 7.437881316535453e+18...","[Luxembourg (LU), Pfaffenthal-Kirchberg (LU), ...",0,599827000666148599
11,3,"[-4.288362932254336e+18, 1.7001387242160358e+1...","[Liers, Milmort, Herstal, Liège-Saint-Lambert,...",0,-8294560044544708399
13,3,"[-3.3047935184970286e+18, 4.268900537161168e+1...","[Luxembourg (LU), Pfaffenthal-Kirchberg (LU), ...",596,-7503778687819463363
17,3,"[-8.108149592008595e+18, 7.437881316535453e+18...","[Luxembourg (LU), Pfaffenthal-Kirchberg (LU), ...",0,-5372237156245962808
19,3,"[-4.288362932254336e+18, 5.206382830626538e+17...","[Liers, Milmort, Herstal, Liège-Saint-Lambert,...",0,8772445803333662282
23,3,"[-3.3047935184970286e+18, 5.762163817894722e+1...","[Luxembourg (LU), Pfaffenthal-Kirchberg (LU), ...",798,-5488503218303058776
24,3,"[-3.858761614253005e+17, 2.3416502157266227e+1...","[Liers, Milmort, Herstal, Liège-Saint-Lambert,...",1265,3113288169396902612
26,3,"[6.89496055130595e+18, 8.68260881516486e+18, 4...","[Luxembourg (LU), Pfaffenthal-Kirchberg (LU), ...",596,-3658492688570414056
27,3,"[-8.108149592008595e+18, 7.437881316535453e+18...","[Luxembourg (LU), Pfaffenthal-Kirchberg (LU), ...",10,-2131096477069280407
28,3,"[-8.108149592008595e+18, 7.437881316535453e+18...","[Luxembourg (LU), Pfaffenthal-Kirchberg (LU), ...",296,6424436307904625620
31,3,"[-4.288362932254336e+18, 5.206382830626538e+17...","[Liers, Milmort, Herstal, Liège-Saint-Lambert,...",0,3722121350524311717
33,3,"[6.89496055130595e+18, 8.68260881516486e+18, -...","[Luxembourg (LU), Pfaffenthal-Kirchberg (LU), ...",10,-6520288762636100243
35,3,"[6.89496055130595e+18, 8.68260881516486e+18, 5...","[Luxembourg (LU), Pfaffenthal-Kirchberg (LU), ...",798,-2843762243998772137

In [217]:
route_creation_hash_first[(route_creation_hash_first['hash'] == hash_check) | (route_creation_hash_first['hash_inverse'] == hash_check)]
#print(hash_check)

,route_id,hash,stop_sequence,frequency,hash_inverse
1579,673,7.382803e+18,"[Bruxelles-Midi, Bruxelles-Chapelle, Bruxelles...",65,7.437173e+18
1582,673,7.437173e+18,"[Amsterdam Cs (NL), Schiphol (NL), Den Haag HS...",2,7.382803e+18
1590,673,7.437173e+18,"[Amsterdam Cs (NL), Schiphol (NL), Den Haag HS...",219,7.382803e+18
1592,673,7.382803e+18,"[Bruxelles-Midi, Bruxelles-Chapelle, Bruxelles...",0,7.437173e+18
1594,673,7.437173e+18,"[Amsterdam Cs (NL), Schiphol (NL), Den Haag HS...",1842,7.382803e+18
1596,673,7.382803e+18,"[Bruxelles-Midi, Bruxelles-Chapelle, Bruxelles...",0,7.437173e+18
1603,673,7.437173e+18,"[Amsterdam Cs (NL), Schiphol (NL), Den Haag HS...",219,7.382803e+18
1604,673,7.382803e+18,"[Bruxelles-Midi, Bruxelles-Chapelle, Bruxelles...",156,7.437173e+18

In [221]:
route_creation[route_creation['route_id'] == 673].loc[1594]['hash']

[-8.23096153150583e+18, -9.601288905799592e+17, -4.891597797168827e+18]

In [222]:
distinct_stop_sequences[distinct_stop_sequences['route_id'] == 673]

,route_id,hash,stop_sequence,service_id
6179,673,-9.222262e+18,"[Amsterdam Cs (NL), Schiphol (NL), Den Haag HS...","{188, 1685}"
6181,673,-8.324332e+18,"[Bruxelles-Midi, Bruxelles-Chapelle, Bruxelles...","{41, 44, 1684, 1685, 1722, 5758}"
6187,673,-8.230962e+18,"[Amsterdam Cs (NL), Schiphol (NL), Den Haag HS...",{41}
6188,673,-5.482836e+18,"[BREDA (NL), Rotterdam CS (NL), Den Haag HS (N...",{1722}
6189,673,-4.891598e+18,"[Anvers-Central, Anvers-Berchem, Mortsel-Deurn...","{188, 1685}"
6191,673,-3.156733e+18,"[Anvers-Central, Anvers-Luchtbal, Noorderkempe...","{448, 5760, 5761, 41, 13, 1684, 188}"
6198,673,-2.892406e+18,"[Amsterdam Cs (NL), Schiphol (NL), Rotterdam C...","{1699, 41, 716, 1685, 188}"
6203,673,-9.601289e+17,"[Noorderkempen (Brecht), Anvers-Luchtbal, Anve...","{35, 5705, 1685, 188, 5759}"
6208,673,-1.991326e+17,"[Bruxelles-Midi, Bruxelles-Chapelle, Bruxelles...","{41, 188, 1684}"
6211,673,-1.389530e+17,"[Rotterdam CS (NL), BREDA (NL), Noorderkempen ...","{1696, 5762, 35, 2692, 5763, 41, 5705, 1003, 1..."
6225,673,1.211633e+17,"[Rotterdam CS (NL), Den Haag HS (NL), Schiphol...",{188}
6226,673,2.845024e+17,"[Noorderkempen (Brecht), Anvers-Luchtbal, Anve...",{716}
6227,673,2.293043e+18,"[Rotterdam CS (NL), Schiphol (NL), Amsterdam C...","{41, 188, 1684}"
6230,673,3.225998e+18,"[Noorderkempen (Brecht), Anvers-Luchtbal, Anve...","{1696, 5762, 5763, 2692, 41, 1003, 1685, 3227,..."
6241,673,4.489192e+18,"[Bruxelles-Midi, Bruxelles-Chapelle, Bruxelles...",{716}
6242,673,4.803089e+18,"[BREDA (NL), Rotterdam CS (NL), Schiphol (NL),...","{716, 1685}"
6244,673,5.821381e+18,"[Amsterdam Cs (NL), Schiphol (NL), Rotterdam C...","{1696, 41, 1685, 188, 1693}"
6249,673,6.313648e+18,"[BREDA (NL), Rotterdam CS (NL)]","{448, 5760, 5761, 41, 44, 13, 1684, 188, 5758}"
6258,673,6.803845e+18,"[Noorderkempen (Brecht), Anvers-Luchtbal, Anve...",{1699}

In [218]:
route_creation_hash[(route_creation_hash['hash'] == hash_check) | (route_creation_hash['hash_inverse'] == hash_check)]

,route_id,hash,stop_sequence,service_id,frequency,hash_inverse
1538,673,7.382803e+18,"[Bruxelles-Midi, Bruxelles-Chapelle, Bruxelles...",{188},156,7.437173e+18
1539,673,7.437173e+18,"[Amsterdam Cs (NL), Schiphol (NL), Den Haag HS...","{188, 1685}",219,7.382803e+18
1542,673,7.437173e+18,"[Amsterdam Cs (NL), Schiphol (NL), Den Haag HS...",{41},2,7.382803e+18
1548,673,7.382803e+18,"[Bruxelles-Midi, Bruxelles-Chapelle, Bruxelles...",{1722},65,7.437173e+18
1549,673,7.437173e+18,"[Amsterdam Cs (NL), Schiphol (NL), Den Haag HS...","{188, 1685}",219,7.382803e+18

We still have to check the complete routes => problem

In [ ]:
test = route_creation_France[route_creation_France['route_id'] == 298]
test.to_csv(r'/Users/pol/Desktop/CSV_export/export_test.csv', index = False, header=True, encoding='utf-8-sig')
test2.to_csv(r'/Users/pol/Desktop/CSV_export/export_test2.csv', index = False, header=True, encoding='utf-8-sig')

In [ ]:
set(route_creation_France[route_creation_France['route_id'] == 298].apply(lambda x: pd.Series(x['hash']),axis=1).stack().reset_index(level=1, drop=True))

# With route_long_name

In [243]:
#Here we make the test with route_id 2
distinct_stop_sequences = route_hash_service_freq_copy.drop_duplicates(subset = ["route_id", 'hash'])[['route_id','hash','stop_sequence', 'service_id', 'route_long_name']]
#distinct_stop_sequences = distinct_stop_sequences[distinct_stop_sequences['route_id'] == 298]
distinct_stop_sequences[distinct_stop_sequences['route_id'] == 673]

,route_id,hash,stop_sequence,service_id,route_long_name
6179,673,-9.222262e+18,"[Amsterdam Cs (NL), Schiphol (NL), Den Haag HS...","{188, 1685}",Amsterdam Cs (NL) -- Bruxelles-Midi
6181,673,-8.324332e+18,"[Bruxelles-Midi, Bruxelles-Chapelle, Bruxelles...","{41, 44, 1684, 1685, 1722, 5758}",Amsterdam Cs (NL) -- Bruxelles-Midi
6187,673,-8.230962e+18,"[Amsterdam Cs (NL), Schiphol (NL), Den Haag HS...",{41},Amsterdam Cs (NL) -- Bruxelles-Midi
6188,673,-5.482836e+18,"[BREDA (NL), Rotterdam CS (NL), Den Haag HS (N...",{1722},Amsterdam Cs (NL) -- Bruxelles-Midi
6189,673,-4.891598e+18,"[Anvers-Central, Anvers-Berchem, Mortsel-Deurn...","{188, 1685}",Amsterdam Cs (NL) -- Bruxelles-Midi
6191,673,-3.156733e+18,"[Anvers-Central, Anvers-Luchtbal, Noorderkempe...","{448, 5760, 5761, 41, 13, 1684, 188}",Amsterdam Cs (NL) -- Bruxelles-Midi
6198,673,-2.892406e+18,"[Amsterdam Cs (NL), Schiphol (NL), Rotterdam C...","{1699, 41, 716, 1685, 188}",Amsterdam Cs (NL) -- Bruxelles-Midi
6203,673,-9.601289e+17,"[Noorderkempen (Brecht), Anvers-Luchtbal, Anve...","{35, 5705, 1685, 188, 5759}",Amsterdam Cs (NL) -- Bruxelles-Midi
6208,673,-1.991326e+17,"[Bruxelles-Midi, Bruxelles-Chapelle, Bruxelles...","{41, 188, 1684}",Amsterdam Cs (NL) -- Bruxelles-Midi
6211,673,-1.389530e+17,"[Rotterdam CS (NL), BREDA (NL), Noorderkempen ...","{1696, 5762, 35, 2692, 5763, 41, 5705, 1003, 1...",Amsterdam Cs (NL) -- Bruxelles-Midi
6225,673,1.211633e+17,"[Rotterdam CS (NL), Den Haag HS (NL), Schiphol...",{188},Amsterdam Cs (NL) -- Bruxelles-Midi
6226,673,2.845024e+17,"[Noorderkempen (Brecht), Anvers-Luchtbal, Anve...",{716},Amsterdam Cs (NL) -- Bruxelles-Midi
6227,673,2.293043e+18,"[Rotterdam CS (NL), Schiphol (NL), Amsterdam C...","{41, 188, 1684}",Amsterdam Cs (NL) -- Bruxelles-Midi
6230,673,3.225998e+18,"[Noorderkempen (Brecht), Anvers-Luchtbal, Anve...","{1696, 5762, 5763, 2692, 41, 1003, 1685, 3227,...",Amsterdam Cs (NL) -- Bruxelles-Midi
6241,673,4.489192e+18,"[Bruxelles-Midi, Bruxelles-Chapelle, Bruxelles...",{716},Amsterdam Cs (NL) -- Bruxelles-Midi
6242,673,4.803089e+18,"[BREDA (NL), Rotterdam CS (NL), Schiphol (NL),...","{716, 1685}",Amsterdam Cs (NL) -- Bruxelles-Midi
6244,673,5.821381e+18,"[Amsterdam Cs (NL), Schiphol (NL), Rotterdam C...","{1696, 41, 1685, 188, 1693}",Amsterdam Cs (NL) -- Bruxelles-Midi
6249,673,6.313648e+18,"[BREDA (NL), Rotterdam CS (NL)]","{448, 5760, 5761, 41, 44, 13, 1684, 188, 5758}",Amsterdam Cs (NL) -- Bruxelles-Midi
6258,673,6.803845e+18,"[Noorderkempen (Brecht), Anvers-Luchtbal, Anve...",{1699},Amsterdam Cs (NL) -- Bruxelles-Midi

In [244]:
'''creates all the sequences of routes possible to reconstruct the real route'''
import copy
#create an empty df for the process of route creation
route_creation  = pd.DataFrame()
for route_id in distinct_stop_sequences['route_id'].unique():
    #create a copy of the df with only the route considered in the loop iteration
    routes_with_route_id = distinct_stop_sequences[distinct_stop_sequences['route_id'] == route_id].copy()
    #put the two parts of the route name into a list ex: 'Namur -- Liège' to ['Namur', 'Liège']
    route_long_name = routes_with_route_id.iloc[0]['route_long_name'].split(' -- ')
    #create a df where only the routes that have an end stop as their first element of the sequence
    route_creation_route_id = routes_with_route_id[routes_with_route_id['stop_sequence'].apply(lambda x: any(item for item in route_long_name if item == x[0]))][['route_id','hash', 'stop_sequence']].copy()
    #make the hash column as a column of lists
    route_creation_route_id['hash'] = route_creation_route_id['hash'].apply(lambda x: [x])
    route_creation_route_id = route_creation_route_id.reset_index(drop=True)
    #to stop the while loop when all the routes are complete in the df for the route_id of the loop iteration
    complete_routes = 0
    while complete_routes < len(route_creation_route_id.index):
        #use a deepcopy to not impact the iterrows of the main loop
        route_creation_deep_copy = copy.deepcopy(route_creation_route_id)
        for index_original, route_part in route_creation_deep_copy.iterrows():
            #if the trip is not complete (contains begin and end), add some other parts
            if not(set(route_long_name).issubset(route_part['stop_sequence'])):
                #create a dataframe of the possible extentions for each route_part
                #here checks if the extention is the next part of the route and also that no other station are repeated in the sequence if this extention is added(otherwise it might cause an infinite loop)
                possible_extentions = routes_with_route_id[routes_with_route_id['stop_sequence'].apply(lambda x: any(item for item in [route_part['stop_sequence'][-1]] if (item == x[0]) and not(set(x[1:]) & set(route_part['stop_sequence']))))].copy()
                #checks whether it is possible to extend the route_part
                if not (possible_extentions.empty):
                    #if so, extend it with every single possibilities
                    for index_extention, possible_extention in possible_extentions.iterrows():
                        #must create a deepcopy, otherwise the orignal hash list will change as well (mutable)
                        updated_hash = copy.deepcopy(route_part['hash'])
                        updated_hash.append(possible_extention['hash'])
                        updated_route_sequence = route_part['stop_sequence'] + possible_extention['stop_sequence'][1:]
                        route_creation_route_id.loc[max(route_creation_route_id.index)+1] = [route_id, updated_hash, updated_route_sequence] 
                #then delete the route with the index (see loop here above)
                route_creation_route_id = route_creation_route_id.drop(index = index_original)
            #when the route is complete adds one for the while loop to know when to stop   
            else:
                complete_routes += 1
    #adds all the possible routes created with the trips of the route_id of the main loop
    route_creation = route_creation.append(route_creation_route_id, ignore_index = True)

In [245]:
route_creation.to_csv(r'/Users/pol/Desktop/CSV_export/export_route_creation1.csv', index = False, header=True, encoding='utf-8-sig')

In [246]:
'''calculates the frequency of the constructed routes just made in the route_creation dataframe'''
#put the default value of the frequency to 0
route_creation['frequency'] = 0
for index_sequence, sequence in route_creation[['route_id','hash']].iterrows():
    #initialize the varibles
    sequence_frequency = 0
    set_common_service_id = set()
    #take all the trips with that route_id
    selected_route_hash_service_freq = route_hash_service_freq[route_hash_service_freq['route_id'] == sequence['route_id']]
    first_trip_hash = True
    for trip_hash in sequence['hash']:
        corresponding_service_id = set()
        #loops on the trips with that hash value and put their service_id in the set corresponding_service_id
        for service_id in selected_route_hash_service_freq[selected_route_hash_service_freq['hash'] == trip_hash]['service_id']:
            corresponding_service_id.add(service_id)
        #here, we check which service_id are common for each hash value of the new route, so we know when that route actually operates
        #if the set is empty, initiate it
        if not set_common_service_id and first_trip_hash:
            first_trip_hash = False
            set_common_service_id = corresponding_service_id
        #if the set is not empty take the intersection, to only have the service_ids that are common
        else:
            set_common_service_id = set_common_service_id.intersection(corresponding_service_id)
    print(set_common_service_id)
    if set_common_service_id:
        #only select the trips with the hash value contained in the sequence and with the same route_id
        containing_hash = selected_route_hash_service_freq[selected_route_hash_service_freq['hash'].apply(lambda x: any(item for item in sequence['hash'] if x == item))]
        #loop over each service_id that were common during the trip
        for service_id in set_common_service_id:
            #take all the trips with the selected hashes that contain the service_id of the loop
            containing_service_id = containing_hash[containing_hash['service_id'].apply(lambda x: any(item for item in [service_id] if item == x))]
            #takes the out of all the daily frequency the minimum of all the trips (otherwise they won't be able to run completely, since some part do not run anymore)
            containing_service_id_grouped = containing_service_id.groupby(['hash'], as_index = False)['number_trip_ids'].sum()
            #adds the minimum number of trips per day multiplied by the number of days in the service_id
            sequence_frequency += containing_service_id_grouped['number_trip_ids'].min() * service_id_df[service_id_df['service_id'] == service_id].iloc[0]['count_service_id']
        #adds the frequency in of the new route sequence
        route_creation.loc[index_sequence, 'frequency'] = sequence_frequency

{48, 146}
{48, 1}
{1, 1084, 1012, 668, 1309}
{1084, 670}
{1308}
{669, 671}
{1012, 1308}
{669, 671}
{2}
set()
set()
set()
{2}
set()
{2}
{13}
{13}
set()
{4363, 5700}
set()
{4363}
{160}
{34, 158}
set()
set()
{5699, 13}
set()
set()
set()
{4363}
{34, 29}
set()
{34}
set()
{136}
set()
{65}
{14, 63}
{14}
{16, 38, 39}
{16}
{16}
{139, 45}
{17, 2, 12}
{45}
{148}
{20}
{61, 21}
{21}
{16}
{16}
{29}
{29}
{29, 31}
{29}
set()
{5697}
{41, 164, 85, 86}
{99, 166, 41, 48, 85, 61}
{45, 13, 47}
{45, 13, 47}
{47}
{167, 95}
{45, 47}
{45, 47}
{47}
{145}
{145}
{43, 61}
{61}
{43}
{98, 44}
{98, 44}
{115, 43}
{115, 43}
{43}
{49, 46}
{49, 46}
{35, 899, 905, 524, 525, 111, 47, 913, 914, 915, 916, 917, 184, 889, 188}
{528, 716, 912}
{501}
{43}
{57}
{35, 905, 906, 907, 908, 909, 910, 82, 184, 188}
{312, 716, 151}
{291, 911, 111, 531, 533}
{43}
{16}
{16}
{48, 147, 55}
{48, 147, 55}
{46}
{49, 46}
{41, 50}
{52}
{1053}
{49}
{49}
{67, 612, 46, 342, 151}
{192, 67, 390, 46, 590, 83, 604, 62}
{95, 47}
{609}
{49}
{67}
{152, 67}
{42}
{42}
{161}
{61}
{345}
{1056}
{459, 262}
{459, 46}
{41, 45, 46, 262}
{89, 45, 46, 262}
{80}
{80}
{163, 46}
{46}
{46}
{46}
{68, 684, 184, 60, 61}
{203, 68}
{68}
{68}
{46}
{46}
{60, 92}
{60, 92}
{48, 55}
{48, 57, 55}
{60}
{92}
{44, 95}
{44, 95}
{61}
{1652, 61}
{168, 41, 822}
{35, 168, 41, 169, 824, 470, 184, 92}
{42}
{49}
{49}
{35}
{35, 100}
{49, 170}
{49}
{61}
{61}
{41}
{61}
{61}
{61}
{115}
{115, 108}
{42, 54}
{42, 54}
{121, 119}
{121, 119}
{173}
{161, 171}
{161, 171}
{62}
{62}
{62}
{172}
{172}
{41}
{123}
{42, 61}
{42, 340, 342}
{42}
{42}
{175}
{175}
{45}
{45}
{852}
{340, 342}
{48, 340, 78}
{1054}
{48, 55}
{48, 55}
{13}
{176, 13}
{35}
{35}
{35}
{35}
{35}
{123}
{123}
{41}
{41}
{178, 179, 180}
{121, 177, 119}
{80}
{80}
{224, 35, 217, 46, 78, 184, 57, 218, 219, 220, 61, 221}
{35, 106, 184, 185, 187, 61}
{111, 47}
{44, 197, 182}
{223}
{49}
{48}
{48}
{41}
{41}
{73, 99}
{73, 99, 225}
{210}
{60}
{189, 79}
{45}
{45}
{60}
{194, 195, 204, 205, 206, 79, 207, 208, 212, 215, 184, 187, 188, 190, 216}
{192, 193, 194, 195, 198, 199, 184, 187, 188, 190}
{188}
{194}
{188}
{188}
{190}
{48, 147, 55}
{48}
{49, 55}
{49}
{41}
{41, 50, 52}
{35, 189, 184, 61, 191}
{41}
{73, 99}
{35, 195, 189, 184, 61, 191}
{45}
{45}
{99, 73, 42, 43, 75, 76, 108, 49, 209, 211, 116, 213, 54}
{210, 60, 92}
{60}
{99}
{201, 202, 188, 45}
{184, 203, 188}
{41}
{164}
{193}
{184, 193, 35, 164}
{226}
{256}
{160}
{184, 35}
{184, 188}
{227}
{188}
{188}
{184, 188}
{184, 188, 230}
{188}
{184, 188}
{230}
{230}
{230}
{61}
{61}
{188}
{188}
{390, 340, 342}
{192, 390, 244, 340, 342}
{192}
{188}
{192, 259}
{184, 188}
{184, 188}
{192, 193, 259, 188}
{192, 193, 259}
{192, 193, 35, 259, 260, 184}
{192, 188}
{192, 193}
{192, 259}
{192, 193, 259, 260, 1651, 188}
{192, 193, 259, 260, 184, 188}
{1651}
{1651}
{192, 193, 259, 260, 261, 188}
{184, 259, 188, 192}
{193}
{665}
{665}
{192}
{192}
{35, 262, 39, 267, 268}
{188}
{184, 264, 188, 265}
{184, 188}
{188}
{188}
{188}
{261}
{57}
{448, 161, 35, 78, 437, 57, 61}
{192, 35, 390, 874, 340, 342, 1113, 542}
{48, 41, 49}
{192, 390, 340, 342, 542}
{48, 949, 78}
{79}
{262}
{35, 340, 61, 342}
{161, 262, 543}
{79}
{716}
{526, 527, 35, 41, 172, 50, 192, 193, 68, 837, 840, 890, 888, 889, 122, 891, 892, 893, 894}
{291, 111}
{896, 897, 898, 99, 35, 261, 41, 172, 525, 47, 529, 83, 1244, 889, 890, 188, 1245, 895}
{528, 716, 151}
{897}
{261}
{49, 610, 161, 262}
{68}
{256, 98, 49, 698, 607}
{68}
{698, 610}
{79}
{261}
{261}
{262}
{57, 61}
{184, 188}
{35}
{35}
{282, 151}
{512, 83, 271}
{503, 505, 291, 111}
{172}
{378, 284, 381, 271}
{151}
{379, 279, 380, 377, 122, 283, 188}
{516}
{272, 288, 290, 269}
{272, 280, 269, 277}
{514}
{427, 172, 410, 411, 412}
{172}
{384, 193, 260, 388, 423, 424, 409, 50, 184, 380, 379, 188}
{388, 488, 188, 276, 184, 122, 380}
{381}
{426, 381}
{425}
{384, 379, 388}
{384, 388, 486, 379, 380}
{50, 379}
{276}
{188, 52}
{115}
{115}
{115}
{292}
{1566}
{465, 531, 268}
{921}
{1571, 188, 1572}
{174}
{295}
{62}
{83, 316, 295}
{151}
{293, 198, 296, 297, 42, 301, 303, 210, 306, 307, 308, 309, 184, 188}
{62}
{321, 322, 293, 198, 42, 210, 307, 184, 313, 314, 315, 188, 317, 318}
{61, 319}
{312}
{46, 319}
{294}
{294}
{35}
{35}
{259, 330, 333, 60, 335, 210, 184, 188}
{168, 188, 184}
{184, 188, 192}
{329, 325, 327}
{193, 259}
{193}
{44, 336, 337, 338, 339}
{809, 810, 340, 981, 470, 982}
{41, 1004, 1006, 1007, 336, 977, 338, 376, 830, 831}
{342}
{376, 41, 188}
{41, 361, 367, 368, 369, 370, 371, 340, 342, 345, 346}
{41, 340, 342, 343, 344, 345, 346}
{340}
{361, 346, 373}
{345, 348}
{352, 361, 342, 344, 346}
{353, 348}
{358, 359, 362, 363, 364, 365, 366}
{356, 357}
{499, 500, 504, 506, 507, 508, 509}
{188}
{312, 501, 510}
{192, 193, 35, 710}
set()
{43, 115, 108}
{395, 84, 435}
set()
{419, 420, 394, 396, 467, 404, 54, 445}
{420, 400, 210, 402, 404, 54}
{54, 1113, 358, 390}
{465, 463}
{43, 115, 108}
{395, 84, 435}
{464, 462}
{390, 394, 396, 400, 402, 404, 419, 420, 42, 432, 433, 54, 453, 454, 458, 459, 461, 210, 358}
{43}
set()
set()
{43, 115, 108}
{395, 84, 435}
set()
{419, 420, 390, 358, 394, 42, 396, 210, 404, 54, 444, 445}
{84}
set()
{395, 435}
{419, 394, 469, 54, 408}
{400}
{358, 423}
{400, 419}
set()
{395, 435}
{419, 456, 394, 400, 210, 54, 408, 92}
set()
set()
{395, 435}
{210, 394, 419, 54}
{435, 84}
{395}
set()
set()
{400}
set()
set()
set()
{401}
{389, 399}
{440, 393, 418, 443}
{418, 452, 389, 393, 457, 431, 401, 466}
{418, 356, 389, 393, 443}
{416, 418, 356, 392, 401, 406, 414}
{450, 356}
{122, 35, 45}
{35}
{184}
{422}
{511, 470, 471}
{451}
{476, 356}
{483, 477, 479}
{356, 476}
{482, 475}
{489, 498, 291, 494}
{490}
{291, 517, 518, 519, 489, 490, 491, 492, 494, 495, 496, 497, 498}
{490}
{489, 491, 492}
{490}
{489, 490}
{291, 163, 518, 519, 520, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 502}
{489}
{489, 491, 492}
{490}
{490}
{358, 390}
{358, 390}
{358, 390}
{358, 390}
{358, 390}
{358, 390}
{358, 390}
{358, 390}
{531, 533}
{521, 522, 523, 292}
{530, 188, 532, 423}
{528}
{524, 525, 340, 342, 188}
{524, 525, 340, 342, 184, 188}
{188}
{184, 41, 865}
{1242, 1243}
{192, 534, 535, 537, 188}
{192, 291, 401, 534, 535, 536, 537, 538, 188}
{544}
{342}
{544, 580, 549, 569, 592, 49, 594, 340, 342, 55, 566, 537, 570, 603, 573}
{68, 95, 47}
{577}
{47}
{537, 544, 49, 566, 573, 62, 575, 580, 83, 340, 342, 613, 614, 617, 622, 624, 630, 631, 634, 638, 639}
{95}
{548, 549, 557, 590, 49, 83, 564, 342, 55, 62, 575}
{577, 548}
set()
{47}
{95, 47}
{147, 542, 543, 35, 38, 555, 558, 559, 567, 440, 57, 572, 61, 581, 582, 585, 78, 593, 340, 342, 616, 618, 619, 620, 621, 622, 111, 628, 122, 636}
{95, 47}
{147, 542, 543, 161, 545, 547, 552, 554, 171, 555, 558, 48, 561, 562, 55, 570, 571, 572, 574, 192, 581, 582, 585, 586, 587, 588, 589, 78, 593, 83, 340, 596, 598}
{440, 569, 605, 583}
{47}
{147, 629}
{95}
{47}
{585, 587, 626, 342, 440, 537, 606}
{440, 558}
{537}
{542, 583, 558, 569, 590, 83, 340, 342, 537, 604, 62}
{95, 47}
{606}
{340}
{537}
{459}
{642}
{641}
{184, 188}
{184, 188}
{184, 188}
{184, 188}
{651}
{649, 643, 645}
{643, 645}
{89, 41, 644, 646}
{648, 41, 646}
{41, 161, 646}
{41, 646}
{49}
{49}
{42}
{42}
{184, 193, 35, 188}
{193, 35, 188}
{192, 193, 188}
{192, 193, 188}
{648, 41}
{41, 646}
{42}
{42}
{42}
{203}
{188}
{188}
{184, 41, 652}
{42, 43, 74, 459, 49}
{653, 46}
{184, 41, 188, 652}
{61}
{61}
{227, 667}
{262, 263, 654, 656, 184, 666, 188}
{44, 61}
{68, 61}
{262, 263, 654, 656, 662, 663, 184, 537, 188}
{49, 42, 43}
{192, 537}
{192, 537}
{664, 657, 43, 653}
{656, 659, 188}
{653}
{656, 188}
{41}
{41}
{188}
{188}
{537}
{74, 459, 46}
{46}
{168}
{49}
{41, 813}
{41}
{41}
{35}
{669}
{669}
{80}
{80}
{674, 35, 390, 681, 669, 671}
{674, 675, 676, 390, 679, 174, 669, 671}
{35}
{669, 671}
{669, 671}
{262}
{674, 678}
{80}
{80}
{672, 390}
{390}
set()
{672}
{672}
{192}
{192}
{192, 35}
{192, 35}
{16}
{21}
{49}
{45}
{60}
{192}
{48}
{49, 1339, 1340}
{41}
{192}
{41}
{192}
{1344, 1345, 1346, 531, 1338, 1341, 1343}
{60}
{48}
{45}
{947, 1351}
{80}
{184, 188}
{184, 188}
{188}
{689, 340, 693, 342, 188}
{689, 188}
{689}
{188}
{188}
{689}
{41, 92, 48, 49, 691, 696, 60}
{49, 698, 700, 46}
{685, 687, 48, 691, 696}
{698, 700}
{35}
{35}
{35}
{35}
{184, 203, 470}
{921, 1303}
{188, 470, 1302}
{188}
{184, 161, 188}
{151}
{188}
{188}
{98, 95}
{13, 702}
{68, 13, 702}

{68, 13, 702}
{13}
{13}
{13}
{13}
{13}
{184, 188}
{184, 98, 188, 95}
{188}
{35, 188}
{188}
{188}
{713, 50}
{188}
{44, 741, 95}
{47}
{188}
{716}
{273, 735, 723, 743}
{273, 735, 726, 270}
{291, 779, 782, 111, 531, 533}
{41}
{192, 193, 312, 35, 768, 769, 773, 774, 777, 778, 750, 754, 757, 184, 188}
{35, 714, 715, 184, 188}
{865, 866, 42, 404, 859, 61}
{716}
{716}
{376, 42, 859, 61}
{50, 52}
{122, 780}
{718}
{193, 1153, 390, 1223, 396, 1228, 1229, 1136, 1137, 1233, 1214}
{42}
{725}
{1136, 1137}
{757, 749, 718}
{161, 744, 45, 749, 754, 761, 1310, 767}
{757, 725, 718, 767}
{193, 1219, 1128, 1130, 342}
{1128, 1153, 1130, 1146}
{35}
{41}
{643}
{645}
{854}
{41, 1109, 1110, 1111, 1112}
{783}
{41, 44, 753, 1109, 1110, 1112, 1114}
{785}
{738}
{740}
{184, 265, 35}
{184, 265}
{184, 264, 188}
{184, 264, 35, 188}
{35, 188}
{193, 265}
{193, 188}
{184}
{184, 188}
{184, 188}
{799}
{5720, 5722}
{5723}
{53}
{188, 340, 342, 828, 221}
{829, 412, 533}
{811, 188, 812}
{193, 390, 813, 818, 340, 342, 537, 188}
{193, 818, 188, 813}
{193, 35, 813, 342, 188}
{818, 188, 813}
{813}
{835, 35, 184, 345, 188}
{849}
{850, 412}
{184, 345, 848, 188}
{841, 838}
{834, 838, 841, 844, 847}
{861}
{41}
{41}
{861}
{151}
{864, 855}
{864, 867, 870, 855}
{1514, 855}
{743}
{874, 267, 268}
{874, 875, 267, 268, 876, 877, 16}
{35, 188}
{184, 188}
{193}
{193}
{397, 184, 188, 62, 707, 203, 470, 1495, 1496, 1497, 1494, 878, 880, 881, 883, 884, 885, 886, 887}
{707, 202, 203, 397, 878, 879, 880, 881, 882, 340, 342, 470, 184, 188}
{1493}
{43}
{43}
{900}
{900}
{901}
{901}
{340, 902}
{160}
{340, 542}
{340, 542}
{192, 35, 390, 340, 342, 542}
{340, 342, 542}
{340, 342, 542}
{340, 542}
{35, 342}
{342}
{340, 342}
{35}
{188}
{902, 340, 342}
{205, 903}
{904, 412}
{192, 193, 35, 184, 188}
{192, 193, 35, 259, 184, 188}
{184}
{184}
{35, 188, 917}
{1240, 1241}
{528}
{920, 193, 259}
{193, 259, 924}
{193}
{259, 35, 390, 342, 922}
{259, 390, 35, 342}
{106, 923}
{35}
{35}
{160, 192}
{192}
{919}
{919}
{919}
{41}
{921, 411}
{61}
{390, 340, 342}
{390, 1545, 1546, 340, 342}
{61}
{928, 937, 931, 927}
{928, 45, 942, 944, 927}
{928, 942, 927}
{928, 929, 933, 935, 937, 925}
{340, 342, 542}
{16, 939, 340, 342}
{342}
{342}
{946, 35, 45}
{49, 45}
{48, 151, 55}
{48, 55}
{78}
{78}
{78}
{78}
{57}
{16, 340, 342, 943}
{57, 78}
{945}
{184, 259, 188, 192}
{184, 188}
{193}
{947, 292}
{978, 980}
{42}
{42}
{964, 60, 463, 974, 948, 184, 188}
{184, 188, 948, 60}
{463, 948, 68, 975}
{188}
{962}
{99, 166}
{99, 979}
{42, 54}
{953, 60}
{42}
{952, 953, 60}
{952}
{952, 953}
set()
{952}
{952, 61}
{952}
set()
{952}
{60}
{952, 953, 5731}
{952, 61}
set()
{42}
{963, 41, 48, 49, 50, 55, 60}
{48, 49, 961}
{42}
{41, 966}
{348, 949}
{35, 376, 41, 1009, 1010, 918, 184, 89, 730, 188}
{773, 774, 1008, 188, 1011, 470, 184, 730, 732}
{470}
{376}
{995, 932, 903, 1002, 44, 1005, 188, 926}
{987, 188}
{998, 980, 340, 342, 188}
{932, 292, 521, 45, 983, 986, 188}
{68}
{1000, 932, 997, 926}
{994, 987, 932, 45}
{991, 988, 45, 983}
{145}
{41}
{949}
{145}
{188}
{61}
{61}
{470}
{1008}
{61}
{672, 674, 390, 1064, 1068, 1070, 79, 1054}
{672, 674, 390, 671}
{390}
{390}
{151}
{1013}
{1084}
{1013}
{80}
{80}
{1018}
{1019}
{48}
{184, 161, 123}
{161, 1701, 171, 172, 45, 79, 123, 61}
{606, 569, 1084, 702, 1081}
{1018, 210, 98, 147}
{210}
{569, 1018, 606}
{1084}
{1089, 397, 1023}
{1018}
{147}
set()
set()
{702, 1087}
{95}
{1067, 397}
{1089, 1023}
{147}
{1023}
set()
{1031}
{397}
{1084}
set()
set()
{1032, 1023}
set()
set()
{1036}
set()
{1026, 1019}
set()
{1077, 111}
{1024}
{1024, 92, 1077}
{1024, 1083, 1036, 92}
{1097}
{50}
{1013}
{440, 558}
{537}
{340, 342}
{67, 340, 342}
{340, 542}
{1063, 583}
{1061}
{1052}
{345}
{67, 1060}
{80}
{177}
{533}
{1095}
{192, 401, 1098, 537}
{192, 401, 1098, 537}
{865, 376, 1102, 1103, 184, 188}
{865, 376, 1102, 1104, 1105, 184, 188}
{192, 193, 1506, 196, 184, 188}
{192, 193, 35, 184, 188}
{1432, 193, 539}
{184, 161, 193}
{188}
{192, 193, 1507, 260, 1508, 46, 534, 535, 184, 537, 188, 1501}
{192, 193, 707, 534, 535, 184, 1500, 188, 1501}
{161, 707, 1350, 202, 203, 1491, 1429, 823, 184, 542}
{192, 161, 193, 707, 1431, 710, 1350, 202, 1430, 823, 184, 188}
{161, 48, 1490, 184, 188}
{192, 161, 193, 259, 48, 184, 188}
{184, 1486, 1487}
{1488, 1486, 1487}
{1108}
{470}
{1008, 203, 61, 470}
{203, 45, 1106, 1107, 470, 122}
{188}
{188}
{188}
{188}
{35}
{35}
{188, 340}
{340, 342}
{342}
{342}
{340, 342}
{340, 342}
{390}
{342}
{342}
{188}
{188}
{340}
{342}
{340, 342}
{340, 342}
{193, 390, 188, 342}
{390, 340, 342}
{689, 188, 693}
{689, 188, 693}
{192}
{188, 62}
{62}
{62}
{193}
{62}
{340}
{340, 342}
{342}
{345, 268, 340, 342, 1113}
{345, 340, 342}
{1115, 1117, 1119}
{1122, 1119}
{46}
{46}
{340}
{340, 342}
{902}
{193, 188}
{188}
{340, 342, 542}
{340, 342, 542}
{345, 203, 836, 839}
{345, 836, 839}
{390, 342}
{340, 342}
{849}
{1154, 35, 1159, 73, 1162, 267, 75, 268, 1131, 1132, 1163, 404, 533, 1147}
{312, 850, 412}
{1131, 35, 1171, 1175}
{73, 75, 1132, 1165, 1131, 1171}
{1161, 1159}
{1126, 340, 1172, 1142, 342, 1150}
{1142, 1155, 1126, 1151}
{1150, 1125, 1142, 1135}
{1157}
{1125, 342}
{1125, 1157, 1150, 1135}
{1168}
{340, 542}
{340, 542}
{184, 35, 188}
{340, 342, 542}
{376, 865, 1102}
{376, 865, 1102}
{41, 50}
{41, 50}
{184, 1316}
{41, 52, 45}
{167, 1335, 47}
{168, 1337, 147}
{390, 342}
{168}
{50}
{123, 111}
{184, 83, 1316, 62}
{1334, 1336, 340, 86}
{41, 45}
{192, 1218, 260, 1231, 1238, 1212}
{184, 188}
{1187, 1192, 1197, 1199, 1201, 1202, 1204, 1206, 1208, 1210}
{192, 1187, 260, 1192, 1226, 1199, 1201, 1234, 188}
{1185, 1195, 1190}
{1185, 1225, 1190, 1215}
{865, 376, 1102, 1239, 184, 188}
{865, 376, 1102, 1239, 184, 188}
{342, 390}
{35, 21, 184, 188, 1246}
{184, 188}
{188}
{192, 193, 1298, 188}
{1299, 106, 715, 1300}
{1247}
{184, 188, 342}
{184, 188, 192}
{188}
{188, 340}
{188}
{48, 55}
{48, 55}
{192, 1253, 1254, 1255, 1247}
{1248, 1249, 1252, 50, 184, 345, 188}
{1016}
{259}
{193, 203, 188}
{184, 193, 188}
{193}
set()
{161, 45, 1257, 1258, 1259, 1260, 1261, 1262, 1263, 1264, 1265, 1266, 1267, 1268, 1269, 1270, 1271, 1272, 1273, 1274}
{1280, 161, 1281, 1257, 1261, 1265, 1269, 1275, 1276, 1277, 1278, 1279}
{1262}
{1261}
{192, 193, 35, 1290, 529, 184, 188}
{184, 35, 188}
{188}
{188}
{188, 1284}
{192, 1284}
{1284}
{188, 1284}
{41, 50}
{41, 50}
{1282, 1285, 1287}
{1282, 1285, 1287}
{184}
{1321}
{1317, 1319, 1323, 1292, 1325, 1294, 1296}
{1317, 1319, 1292, 1294, 1296}
{193, 865, 376, 1102, 184, 188}
{193, 865, 376, 1102, 184, 188}
{35}
{35}
{184, 203, 188, 470}
{261, 203, 49, 1301, 534, 535, 184, 188}
{534}
{470}
{203, 188}
{203, 188}
{1306}
{1304, 669}
{193}
{161, 1310}
{161, 122, 61, 749}
{80, 121, 119}
{80}
{184}
{203}
{184, 188}
{184}
{1312}
{184, 188}
{1312, 534}
{188}
{534}
{1315}
{184, 45}
{188}
{1312}
{1312}
{61}
{61}
{61}
{823}
{47}
{80, 779, 1374, 1375}
{168}
{1376, 1371, 531}
{464}
{210}
{41, 45}
{41, 45}
{1372}
{1378}
{1373}
{92}
{48, 168}
{1316, 262, 263, 13, 813, 49, 1332, 184, 537, 1370, 188}
{1316, 813, 340, 184, 537, 188, 542}
{1377, 1379}
{904, 75, 412}
{188, 813}
{818, 188, 813}
{1327}
{655}
{193}
{193}
{193, 459, 1328, 1329, 1330, 1331, 1333, 60}
{193, 459, 1328, 1329, 1330, 1331, 60}
{184, 188}
{184, 193, 188, 265}
{1342}
{1347}
{1347, 852}
{1347, 852}
{57, 35, 61, 78}
{35, 1353, 184, 537, 251, 188, 61}
{192, 724, 1367, 1369, 188}
{192, 1354, 1357, 1361, 1362, 1364}
{192, 1360, 1356, 1366}
{193}
{1361, 1354, 1363}
{193}
{1363, 1358}
{193, 35, 772, 44, 1368, 95}
{161, 35, 193, 171}
{35}
{35}
{645}
{2178, 35, 259, 3079, 1387, 1390, 5742}
{2178, 259, 3079, 1387, 1390, 1395, 2645}
{192}
{340, 542}
{340, 542}
{340, 342, 542}
{1448, 1447}
{1409, 2, 35, 37, 1414, 139, 1068, 1405}
{2, 35, 37, 1414, 139, 1068, 1405}
{1416, 17, 1410, 12}
{17, 1410}
{1406, 1415}
{1406, 1415}
set()
{17, 1406}
{17, 1406}
{5743}
{1316, 1446, 168, 813, 1332, 537}
{1316, 168, 813, 376, 188}
{1420, 2, 1068, 37}
{2, 1405}
{17}
{2}
{17, 390}
{1415}
{1406}
set()
set()
{1416}
{390, 342, 542}
{390, 342, 542}
{342, 35, 390}
{342, 35, 390}
{342}
{342, 35, 390}
{35, 342}
{192}
{192}
{48}
{168, 537}
{169, 92, 48, 210, 1332, 537, 60, 1436}
{537, 1316, 813, 1332}
{818, 1316, 813, 1332}
{61}
{707, 836, 202, 203, 823, 184, 188, 1438}
{35, 203, 340, 184, 1433, 1434, 1435, 188, 542}
{259}
{192}
{1440, 1439}
{1440, 1449}
{1440, 1439}
{1440}
{184, 188, 192}
{161, 1443, 1444, 1445, 390, 82, 340, 342, 825, 542}
{193, 260, 1454, 1455, 184, 188}
{192, 1441, 1442, 67, 390, 203, 46, 1116, 340, 342, 184, 188, 542}

{184, 188}
{184, 193, 188}
{404, 78}
{184}
{704}
{1460}
{188}
{712, 1455, 693, 184, 1465, 1467, 188, 1469}
{1473, 1474, 1475, 1476, 1477, 1480, 1483, 1455, 210, 724, 184, 1465, 188}
{1466, 1468, 1470}
{1472, 1482, 1468, 1479}
{98, 44}
{98, 44}
{184, 210}
{1472}
{98}
{345, 161}
{1484, 1485, 340, 342, 542}
{1484, 1485, 342, 542}
{641, 340}
{1008, 641, 340, 61}
{188}
{188}
{184, 188}
{184, 188}
{321, 5750}
{321, 5750}
{192, 193}
{192, 193}
{84}
{84}
{84}
{1504}
{188}
{188}
{193}
{184, 188}
{184, 188}
{1526, 340, 542, 1527}
{340, 542}
{342}
{342}
{1528, 1163}
{193, 188}
{193, 188}
{188}
{188}
{43}
{268, 1590}
{99, 84}
{43}
{99, 84}
{1538, 1126, 210, 340, 404, 54, 1172, 408, 315, 92}
{1537, 1538, 1539, 1126, 42, 46, 1583, 400, 210, 1587, 340, 404, 1172, 1588, 408, 542}
{1569, 174}
{1537, 35, 1585, 210, 54, 408, 60, 1534}
{1538, 419, 1555, 54, 1558, 1530, 542}
{1538, 1556}
{84}
{43}
{400, 42, 404, 342}
{1537, 1538, 1539, 1550}
{84}
{400, 408, 54}
{193}
{193}
{184, 193, 259, 188}
{184, 193, 188}
{193, 188}
{193}
{193, 188}
{188}
{193, 188, 265}
{193, 188, 265}
{193}
{1545, 1546}
{1545, 1546}
{193, 188}
{193, 188}
{342}
{390, 342}
{390}
{49}
{188}
{193, 188}
{188}
{188}
{1126, 210, 404, 54, 92, 1567}
{43}
{99, 84}
{404}
{1172}
{151}
{1565}
set()
set()
{54}
{188}
{193, 188, 260}
{184}
{107, 62}
{193}
{193}
{193}
{188}
{193, 188}
{193, 188}
{193}
{193}
{193}
{188}
{188}
{193}
{193}
{643}
{643}
{645}
{643}
{193}
{193}
{184, 193, 192}
{193, 188}
{193}
{342, 390}
{192, 193}
{193}
{188}
{188}
{193, 188}
{188}
{193}
{193}
{193}
{193}
{671}
{671}
{193}
{265, 1658}
{2, 1591, 1592, 1593, 1399}
{17, 2}
{2, 1594}
{1374}
{1593}
{671}
{671}
{1595, 1596}
{192}
{193, 1597}
{193}
{193}
{340, 342}
{340, 342}
{184, 265, 188}
{192, 193, 188, 265}
{1632, 1633, 1634, 1635, 1640, 210, 184, 1436}
{1600, 1604, 1609, 210, 184, 188, 1598}
{1600, 1608}
{188}
{1608, 188}
{1635}
{1600, 161, 35, 1608}
{1600, 1608}
{1604, 1608, 1609, 184, 1598}
{1632, 1607, 1608, 184, 188}
{161}
{1640}
{1600, 1608, 1598, 184}
{1608, 35, 188, 1607}
{115, 43, 54}
{115, 43}
{193}
{193}
{265}
{193, 188, 265}
{193}
{390, 340, 342}
{390, 342}
{192, 259, 340}
{184, 193, 340}
{342}
set()
{1613}
{1613}
{1613}
{1613}
{1670}
{65}
{30}
{30}
{30}
{340, 342}
{80, 342, 672}
{603, 342}
{603, 342}
{1660, 1665, 98, 572}
{192, 193}
{193}
{193}
{188}
{193}
{193, 188}
{1261, 1439}
{1624, 1261}
{1440}
{193}
{188}
{1626, 188}
{603, 342}
{193}
{193}
{340, 342}
{2}
{2}
{17}
{17}
{17, 2}
{192, 188, 390, 542}
{188}
{193}
{188}
{542}
{188}
{390, 342, 542}
{192, 193}
{188}
{184}
{184, 259, 192}
{184}
{184}
{188, 1628}
{188}
{1646}
{188}
{184, 188}
{184, 193, 1629}
{193, 188, 265}
{193, 265}
{1676, 1675, 188}
{188}
{1674, 1675, 1676}
{193, 188}
{184, 193, 390, 342}
{193, 188}
{340, 342}
{340, 342}
{193}
{193}
{193}
{193, 188}
{192, 193, 188, 265}
{193}
{193, 390, 342}
{193, 390, 342}
{188}
{193}
{184}
{193}
{188}
{184}
{193}
{193}
{184, 193, 188}
{196, 1642, 340, 342, 188}
{342, 390}
{210, 188}
{1645}
{193}
{193}
{193, 188}
{188}
{193, 188}
{192, 390, 342}
{188}
{188}
{188}
{193, 188}
{193, 188}
{340, 342}
{193}
{340, 342}
{1649}
{193}
{1647}
{265}
{193}
{193, 259}
{193, 259}
{188}
{193, 390, 340, 342}
{390, 342}
{193, 188}
{192, 193, 188}
{193}
{193}
{1650}
{193}
{1650}
{1653, 1654}
{52, 1654, 1655}
{52}
{1656}
{98}
{1657}
{188}
{192}
{1656, 52}
{98}
{193, 188}
{193}
{80}
{671}
{1592, 17, 2, 1593}
{1594}
{1659, 1660, 62}
{345}
{345}
{1661}
{1664}
{1664, 998}
{998}
set()
{1664}
{193}
{193}
{193}
{193}
{340, 342}
{340, 542}
{340, 542}
{127}
{1673, 998}
{1673, 998}
{126}
{1678}
{1666, 1660, 469}
{147}
{340, 342}
{1667}
{1672, 1660}
{62}
{61}
{193}
{188}
{62, 1655}
{505}
{193}
{188}
{193}
{193}
{1432}
{340, 542}
{340}
{342}
{342}
{192, 79, 1680, 1681, 1682, 340, 342, 542}
{192, 1700, 463, 79, 1680, 1681, 340, 542}
{1054, 463}
{463}
{1722}
{1685}
set()
{41}
set()
{716}
{41, 188, 1685}
{1699}
set()
{716}
set()
{188, 1685}
set()
set()
{41, 1684}
set()
{188, 1685}
set()
set()
set()
set()
set()
{1696, 41, 1685, 188, 1693}
set()
{188, 1685}
{188}
{41, 188, 1684}
{188, 1685}
{172}
{35}
{716}
{716}
{716}
{716}
{716}
{716}
{345, 340}
{345, 340}
{41, 1685}
{41, 1685}
{41, 188, 1685}
set()
{41}
set()
{41, 188, 1717, 1719}
{188}
{716}
{716}

In [247]:
route_creation.to_csv(r'/Users/pol/Desktop/CSV_export/export_route_creation2.csv', index = False, header=True, encoding='utf-8-sig')

In [248]:
route_creation

,route_id,hash,stop_sequence,frequency
0,1,[-6.465769007291632e+18],"[Liège-Guillemins, Liège-Carré, Liège-Saint-La...",18
1,1,[-4.288362932254336e+18],"[Liers, Milmort, Herstal, Liège-Saint-Lambert,...",38
2,2,[-6.464970586350677e+18],"[Liège-Guillemins, Sclessin, Pont-de-Seraing, ...",704
3,2,[-3.538425721227366e+18],"[Namur, Marche-les-Dames, Namêche, Sclaigneaux...",159
4,2,"[-5.388870276730761e+18, 7.223954040765058e+18]","[Liège-Guillemins, Sclessin, Pont-de-Seraing, ...",126
...,...,...,...,...
1622,678,"[5.656301186640287e+18, -1.3895296309575789e+1...","[Den Haag HS (NL), Rotterdam CS (NL), BREDA (N...",0
1623,678,"[-1.9913264041511488e+17, -3.156733466808462e+...","[Bruxelles-Midi, Bruxelles-Chapelle, Bruxelles...",314
1624,678,"[5.656301186640287e+18, -1.3895296309575789e+1...","[Den Haag HS (NL), Rotterdam CS (NL), BREDA (N...",468
1625,679,"[-3.326243151477094e+18, 8.867454829044789e+18]","[Den Haag HS (NL), Rotterdam CS (NL), BREDA (N...",6
1626,679,"[2.556917391222364e+18, -4.809365393799682e+18]","[Bruxelles-Nord, Schaerbeek, Brussels Airport-...",6

In [249]:
#To copy the filtered_trips dataset
route_creation_hash = route_creation.copy()

#To create a column called hash that contains NaN values
route_creation_hash['hash'] = np.nan

#For each trip_id in filtered_trips, the stop_sequence that gets calculated is the subset of the stop_time dataset for that trip_id. 
#The tuple that results from the stop_id column of this subset dataset contains all the stop_ids that get served by this trip_id. 
#The hash value of the tuple of the stop_id column is calculated and is placed in the hash column of the trip_id in the filtered_trips dataset

route_creation_hash['hash_inverse'] = np.nan
for index, route_sequence in route_creation_hash.iterrows():
    route_creation_hash.loc[index, 'hash'] = hash(tuple(route_sequence['stop_sequence']))
    route_creation_hash.loc[index, 'hash_inverse'] = hash(tuple(list(route_sequence['stop_sequence'])[::-1]))
route_creation_hash_first = route_creation_hash

In [250]:
'''Regroup the routes that are the same (even though they are in the opposite direction)'''
route_creation_max_hash = route_creation_hash.copy()
route_creation_max_hash['max_hash'] = route_creation_max_hash[['hash', 'hash_inverse']].max(axis=1)
#create a df that sums the frequence of the trips going from opposite directions
route_creation_max_hash_freq = route_creation_max_hash.groupby(['route_id','max_hash'], as_index = False)[['frequency']].sum()
#renames the max_hash column into hash so it the dataframe can be merged with route_hash_without_freq
route_creation_max_hash_freq = route_creation_max_hash_freq.rename(columns = {'max_hash':'hash'})
#drops the column freq_sequence_route because the one that is of interest is in route_creation_max_hash_freq
route_hash_without_freq = route_creation_hash.copy().drop(['frequency'], axis = 1)
route_hash_without_freq = route_hash_without_freq.drop_duplicates(subset=['route_id', 'hash'])
route_hash_freq_combined_first_merge = pd.merge(route_creation_max_hash_freq, route_hash_without_freq, on=['route_id', 'hash'], how='left')
route_hash_freq_combined_first_merge = route_hash_freq_combined_first_merge.drop(['hash_inverse'], axis = 1)
#selects the part of the dataset that doesn't have NaN (because their hash_value that was max was the one in hash_inverse and it didn't exist in the other df), so we can concatenate it with the part that had NaN later
route_hash_freq_first_part = route_hash_freq_combined_first_merge[pd.notnull(route_hash_freq_combined_first_merge['stop_sequence'])]
#selects one part the part of the dataset that does have NaN, so we can concatenate it with the part that has no NaN.
#but first, we will need to fill those NaN values (done in the code lines behind this one)
route_hash_freq_second_part = route_hash_freq_combined_first_merge[pd.isnull(route_hash_freq_combined_first_merge['stop_sequence'])][['route_id', 'hash', 'frequency']]
#renames the hash column into hash_inverse so it the dataframe can be merged with route_hash_without_freq (because it didn't work with 'hash')
route_hash_freq_second_part = route_hash_freq_second_part.rename(columns = {'hash':'hash_inverse'})
route_hash_freq_second_part = pd.merge(route_hash_freq_second_part, route_hash_without_freq, on=['route_id', 'hash_inverse'], how='left')
#the hash that is of interest in the final df will be hash and not hash_inverse
route_hash_freq_second_part  = route_hash_freq_second_part.drop(['hash_inverse'], axis = 1)
route_hash_freq_combined_not_sorted = pd.concat([route_hash_freq_first_part, route_hash_freq_second_part])
route_hash_freq_combined = route_hash_freq_combined_not_sorted.sort_values(by = ['route_id'])
route_hash_freq_combined_first = route_hash_freq_combined.reset_index(drop = True)
#WE STILL HAVE TO DO THE TRESHOLD AND TO CHECK THE ROUTE THAT ARE NOT SUBSET OF THE ROUTES THAT WERE MADE HERE

In [251]:
'''Deletes the routes that do not represent 10% of the total route frequency and creates new route, if some of them are different'''
#calculates the total frequency per route_id
frequency_each_route = route_hash_freq_combined.groupby(['route_id'], as_index = False)['frequency'].sum()
frequency_treshold = frequency_each_route.copy()
#calculates the treshold
frequency_treshold['frequency'] = frequency_treshold['frequency']/10
frequency_treshold.rename(columns = {'frequency':'frequency_treshold'}, inplace = True)
route_hash_freq_treshold = route_hash_freq_combined.merge(frequency_treshold, on='route_id', how = 'left')
#find the sequences that are not more than 10% of the route frequency and delete them
index_names = route_hash_freq_treshold[route_hash_freq_treshold['frequency'] < route_hash_freq_treshold['frequency_treshold']].index
route_hash_freq_treshold.drop(index_names, inplace = True)
#selects the sequences that are not the most frequent per route_id
sequences_max_freq = route_hash_freq_treshold.groupby(['route_id'],as_index = False)['frequency'].max()
sequences_max_freq.rename(columns = {'frequency':'max_frequency'}, inplace = True)
sequences_max_freq_merged = route_hash_freq_treshold.merge(sequences_max_freq, on='route_id', how='left')
sequences_non_max_freq_index = sequences_max_freq_merged[sequences_max_freq_merged['frequency'] != sequences_max_freq_merged['max_frequency']].index
#those selected sequences get a new route_id that starts from routes['route_id'].max() + 1 and increments by one for each new route
route_id_creation =  route_hash_freq_combined['route_id'].max() + 1
new_route_id_column = list(range(route_id_creation, route_id_creation + len(sequences_non_max_freq_index)))    
sequences_max_freq_merged.loc[sequences_non_max_freq_index, 'route_id'] = new_route_id_column
sequences_max_freq_merged = sequences_max_freq_merged.sort_values(by=['route_id'],ignore_index=True)
final_routes = sequences_max_freq_merged.drop(columns=['hash', 'frequency', 'frequency_treshold', 'max_frequency'])
final_routes

     route_id                                      stop_sequence
0           1  [Liers, Milmort, Herstal, Liège-Saint-Lambert,...
1           2  [Namur, Marche-les-Dames, Namêche, Sclaigneaux...
2           3  [Liers, Milmort, Herstal, Liège-Saint-Lambert,...
3           4  [Liers, Milmort, Herstal, Liège-Saint-Lambert,...
4           5  [Luxembourg (LU), Pfaffenthal-Kirchberg (LU), ...
..        ...                                                ...
606       726  [Grammont, Schendelbeke, Idegem, Zandbergen, A...
607       727  [Gand-Saint-Pierre, Merelbeke, Melle, Gontrode...
608       728  [Poperinge, Ypres, Comines, Wervik, Menin, Wev...
609       729  [Amsterdam Cs (NL), Schiphol (NL), Den Haag HS...
610       730  [Amsterdam Cs (NL), Schiphol (NL), Den Haag HS...

[611 rows x 2 columns]

In [347]:
'''Makes a set that can be used for building the edges of the graph using Networkx package
This means:
...
The df_for_edges dataset contains for each route_id one trip_id. However, there are still trip_id's with the same sequence of stations in df_for_edges
'''
#takes the list stop sequence and make it a new column for each stop
stop_sequence_values = final_routes.apply(lambda x: pd.Series(x['stop_sequence']),axis=1).stack().reset_index(level=1, drop=True)
stop_sequence_values.name = 'stop_sequence'
final_routes_stops = final_routes.drop('stop_sequence', axis=1).join(stop_sequence_values)
final_routes_stops = final_routes_stops.reset_index(drop=True)
#Creates a shifted instance of the df to use it for the final result
final_routes_stops_shifted = final_routes_stops.shift()
#Check if which of the rows are followed by a row with the same trip_id
final_routes_stops_shifted['match'] = final_routes_stops_shifted['route_id'].eq(final_routes_stops['route_id'])
#Drop the rows for which this condition is not satisfied
final_routes_stops_shifted.drop(final_routes_stops_shifted[final_routes_stops_shifted['match'] == False].index, inplace = True)
final_routes_stops_shifted.rename(columns=
  {"stop_sequence": "stop_name_1",
  "stop_name": "stop_name_1"}, inplace=True)
#Joins the df with its shifted version sothat each sequence of two stations is represented in the table as a row
df_for_edges = final_routes_stops_shifted.join(final_routes_stops[['stop_sequence']], lsuffix='_caller', rsuffix='_other', how='left')
df_for_edges.rename(columns=
  {"stop_sequence": "stop_name_2",
  "stop_name": "stop_name_2"}, inplace=True)

df_for_edges['route_id'] = df_for_edges['route_id'].astype(np.int64)
df_for_edges = df_for_edges.drop_duplicates()
df_for_edges = df_for_edges[['route_id','stop_name_1', 'stop_name_2']]
df_for_edges = df_for_edges.reset_index(drop=True)
df_for_edges

       route_id                stop_name_1                stop_name_2
0             1                      Liers                    Milmort
1             1                    Milmort                    Herstal
2             1                    Herstal        Liège-Saint-Lambert
3             1        Liège-Saint-Lambert                Liège-Carré
4             1                Liège-Carré           Liège-Guillemins
...         ...                        ...                        ...
10102       729                Erps-Kwerps                 Kortenberg
10103       729                 Kortenberg                   Nossegem
10104       729                   Nossegem  Brussels Airport-Zaventem
10105       729  Brussels Airport-Zaventem                 Schaerbeek
10106       729                 Schaerbeek             Bruxelles-Nord

[10107 rows x 3 columns]

In [348]:
G = nx.Graph()
G = nx.from_pandas_edgelist(df_for_edges, 'stop_name_1', 'stop_name_2')

In [ ]:
nx.draw_networkx(G, with_labels = False, node_size = 5)

In [ ]:
route_hash_freq_combined.to_csv(r'/Users/pol/Desktop/CSV_export/export_route_creation_regrouped.csv', index = False, header=True, encoding='utf-8-sig')

* Weights toevoegen

In [ ]:
#Assign node weights to graph
for i in range(len(stops)):
    for n, d in G.nodes(data=True):
        if stops.stop_name[i] == n:
            G.nodes[n]['id']=stops.stop_id[i];
            G.nodes[n]['latitude']=stops.stop_lat[i];
            G.nodes[n]['longitude']=stops.stop_lon[i];
            
G.nodes(data=True)

In [ ]:
#Assign the route_id as a list (because there can be more than one per edge) on each edge
routes_on_edge = {}
for node1,node2, nodeData in G.edges(data = True):
    if (node1, node2) not in routes_on_edge:
            routes_on_edge[(node1, node2)] = set()
    route_id_node1_node2= df_for_edges[(df_for_edges['stop_name_1'] == node1 ) & (df_for_edges['stop_name_2'] == node2 )]['route_id']
    route_id_node2_node1= df_for_edges[(df_for_edges['stop_name_1'] == node2 ) & (df_for_edges['stop_name_2'] == node1 )]['route_id']
    for route_id in pd.concat([route_id_node1_node2, route_id_node2_node1]):
        routes_on_edge[(node1, node2)].add(route_id)
    nodeData['route_id'] = routes_on_edge[(node1, node2)] 

G.edges(data=True)

* Characteristics and global network metrics:

In [ ]:
#aantal nodes
len(G.nodes())

In [ ]:
#degrees van de nodes
G.degree()

In [ ]:
# average degree (indicating the number of directions a commuter can take from that given station)
sum = 0
for n in G.nodes():
    sum = sum + G.degree[n]
print(sum/len(G.nodes()))

In [ ]:
#The existing number of edges
len(G.edges())

In [ ]:
#gamma_index
gamma_index = len(G.edges()) / (3*(len(G.nodes()) - 2))
gamma_index

In [ ]:
#Mean local clustering coefficient
#indicating for a random station the estimation of the division of the number of neighbouring stations of a station that are connected divided by the possible number of connections between the neighbours of that station
print ("mean local clustering:", nx.average_clustering (G))

In [ ]:
#The degree distribution

#Sort degree values
degree_sequence=sorted([d for n,d in G.degree()], reverse=True) 
#Count number of frequences of degree values
degreeCount=collections.Counter(degree_sequence)
#Define variables deg and cnt and probability
deg, cnt = zip(*degreeCount.items())
probability = []
for v in cnt:
    pv= v/len(G.nodes())
    probability.append(pv)

#plot degree probability histogram
fig, ax = plt.subplots(figsize=(5, 5))
plt.bar(deg, probability, width=0.95, color='lightgrey')

#plot degree distribution
plt.plot(deg, probability, color="b")

#graph settings
plt.title("Degree distribution")
plt.ylabel("P (k)")
plt.xlabel("k")
ax.set_xticks([d for d in deg])
ax.set_xticklabels(deg)

#count
fig, ax = plt.subplots(figsize=(5, 5))
plt.bar(deg, cnt, width=0.95, color='lightgrey')

plt.plot(deg, cnt, color="b")

#graph settings
plt.title("Degree count")
plt.ylabel("Count")
plt.xlabel("k")
ax.set_xticks([d for d in deg])
ax.set_xticklabels(deg)

plt.show()

In [ ]:
#Detection of the scale-free property (A PTN with the scale-free property consists of a large number of vertices that exhibit low degree and a few number of vertices that exhibit very high degree)

The scale-free property is present in the Belgian railway network because the majority of nodes exhibit a low degree value equal to 2 and almost none of the nodes exhibit a degree value equal to 5 or higher

In [ ]:
nx.draw_networkx(G, with_labels = False, node_size = 5)

In [ ]:
#Average path length (In the L-space it represents the average of all the shortest paths to be transversed between all public transport stop pairs which can be reached by means of one or multiple routes)
#print(nx.average_shortest_path_length(G))

In [ ]:
#Assortativity of the network 
#In an assortative network, high-degree vertices tend to be connected and low-degree vertices tend to stick together as well. 
#In a disassortative network conversely, high-degree and low-degree vertices tend to be connected to each other instead of being connected to vertices of the same kind).

print(nx.degree_pearson_correlation_coefficient(G))

# Onderzoeksvraag 2: Do groups of similar routes in multiple railway systems have a comparable travel time?

# 2.1 Do groups of similar routes in multiple railway systems have a comparable planned travel time?

* Construction of the df route_characteristics

This df contains for each route the aggregated route values

In [ ]:
''' To make a list of all unique route_ids in the df_for_edges dataset'''
list(df_for_edges['route_id'].unique())

In [ ]:
#put all the route_ids in df route_characteristics

''' To create a list of all unique route_ids in the df_for_edges dataset'''
routes_list = list(df_for_edges['route_id'].unique())
routes_list.sort()

''' To create a dictionary where each route of the routes_list represents a key'''
route_characteristics_dic = {'route_id': routes_list}

''' To create a dataframe that contains the values in the route_characteristics_dic as the values in the first column'''
route_characteristics = pd.DataFrame(route_characteristics_dic, columns = ['route_id'])
route_characteristics['route_id'].astype(np.int64)

In [ ]:
#Put the nodes per route in df route_characteristics

''' To construct a new column of the route_characteristics dataset that has for every column value an empty set'''
route_characteristics['nodes'] = [set() for _ in range(len(route_characteristics))]

''' To put the two nodes of an edge in the nodes column of the route_characteristics dataset if the route_id of the corresponding row 
is present in the set of the list values of the corresponding edge that contains all route_ids that contain the edge'''
for node1, node2 in G.edges():
    route_characteristics[['route_id','nodes']].apply(lambda x: x['nodes'].update((node1, node2)) if x['route_id'] in set(G.get_edge_data(node1, node2)['route_id']) else x, axis = 1)
print(route_characteristics)

In [ ]:
for nodes in route_characteristics[route_characteristics['route_id'] == 6]['nodes']:
  print(nodes)

In [ ]:
# The inputs of the get_metric_list function are a dictionary that contains for all node keys the corresponding metric values and a specific route_id of a column of 
# the route_characteristics dataset
# A new empty list metric_list is created for these inputs
# For the nodes that are in the route_characteristics dataset corresponding to this route_id, the corresponding metric values from the dictionary get appended to metric_list

from statistics import mean
def get_metric_list(metric_dic, route_id):
    """this is a sub function that is used in calculate_metric_route_per_node"""
    metric_list = []
    for nodes in route_characteristics[route_characteristics['route_id'] == route_id]['nodes']:
        for node in nodes:
            metric_list.append(metric_dic[node])
    return metric_list

# For the metric, a new column is created in route_characteristics, where every column value consists of an empty list
# The values in the column of the df are determined by giving the metric_dic and the route_id of the row where that value is placed to the get_metric_list function
# The metric_list ultimately contains the metric values for a specific metric for all the stations corresponding to that route

def calculate_metric_route_per_node(metric_dic, metric_name):
    """puts the metrics of each node of a route in a list in the route_characteristics df"""
    route_characteristics[metric_name] = [list for _ in range(len(route_characteristics))]
    route_characteristics[metric_name] = route_characteristics.apply(lambda x: get_metric_list(metric_dic, x['route_id']) , axis = 1)
    
# The function starts from the metric_name, the original_metric_name and the aggregation_method inputs
# A new column named with the metric_name is created: initially it contains all NaN values
# Thereafter the aggregation_method is taken into account. The avg aggregation method returns for all column values the mean of the values in the corresponding row
# of the original_metric_name list. The max aggregation method returns for all column values the max of the values in the corresponding row of the original_metric_name list.

def calculate_metric_aggregation_route(metric_name, original_metric_name, aggregation_method):
    '''calculate the metric aggregation of the routes, only avg and max are supported as string values for aggregation method
    metric_name is the aggregation column name and original_metric_name is the node metric column name'''
    route_characteristics[metric_name] = np.nan
    if aggregation_method == 'avg':
        route_characteristics[metric_name] = route_characteristics.apply(lambda x: mean(x[original_metric_name]) , axis = 1)
    elif aggregation_method == 'max':
        route_characteristics[metric_name] = route_characteristics.apply(lambda x: max(x[original_metric_name]) , axis = 1)

In [ ]:
calculate_metric_route_per_node(dict(G.degree()), 'node_degree')
calculate_metric_aggregation_route('avg_degree', 'node_degree', 'avg')
calculate_metric_aggregation_route('max_degree', 'node_degree', 'max')
calculate_metric_route_per_node(dict(nx.clustering(G)), 'node_clustering')
calculate_metric_aggregation_route('avg_clustering', 'node_clustering', 'avg')
calculate_metric_aggregation_route('max_clustering', 'node_clustering', 'max')
calculate_metric_route_per_node(dict(nx.closeness_centrality(G)), 'node_closeness_centrality')
calculate_metric_aggregation_route('avg_closeness_centrality', 'node_closeness_centrality', 'avg')
calculate_metric_aggregation_route('max_closeness_centrality', 'node_closeness_centrality', 'max')
calculate_metric_route_per_node(dict(nx.betweenness_centrality(G)), 'node_betweenness_centrality')
calculate_metric_aggregation_route('avg_betweenness_centrality', 'node_betweenness_centrality', 'avg')
calculate_metric_aggregation_route('max_betweenness_centrality', 'node_betweenness_centrality', 'max')

In [ ]:
route_characteristics.head(2)

In [ ]:
print(route_characteristics['nodes'][0])

In [ ]:
''' To add the number of stations present in the stop sequence of a route_id'''
number_stations = []
for number_stops in route_characteristics['nodes']:
  number_stations.append(len(number_stops))

route_characteristics['len_stop_sequence'] = number_stations
route_characteristics.head(2)

In [ ]:
stops_cleaned[stops_cleaned['stop_name'] == 'Namur']

In [ ]:
stops_cleaned[stops_cleaned['stop_name'] == 'Bruxelles-Central']

In [ ]:
''' Example: to calculate the distance between Namur and Bruxelles-Central'''
import math

# The radius of the earth
R = 6373.0

# To calculate the coordinates
lat_Namur = math.radians(50.46879)
lon_Namur = math.radians(4.86222)
lat_Brussels = math.radians(50.84565)
lon_Brussels = math.radians(4.356804)

# To calculate the change in coordinates
dlon = lon_Brussels - lon_Namur
dlat = lat_Brussels - lat_Namur

# To use the Haversine formula to get the distance in kilometers between Brussels and Namur
a = math.sin(dlat / 2)**2 + math.cos(lat_Namur) * math.cos(lat_Brussels) * math.sin(dlon / 2)**2
c = 2 * math.atan2(math.sqrt(a), math.sqrt(1 - a))

distance = R * c

print(distance)

In [ ]:
''' To add the absolute distances between the starting and the ending station of all routes'''

# Remember that geographical locations that are located further away to the right of the Prime Meridian Greenwich instead of another location that is closer
# (but still to the right) of this Meridian Greenwich, have a greater longitute value.
# Remember that geographical locations that are higher above the Equator than other geographical locations (that are also above the Equator), have a 
# higher latitude value

absolute_distance = []
for route in route_characteristics['route_id']:
  subdf_stop_sequence = df_for_edges[df_for_edges['route_id'] == route]
  number_of_rows = len(subdf_stop_sequence.index)

  # To get the starting station and the ending_station of the stop sequence of a route
  starting_station = subdf_stop_sequence['stop_name_1'].iloc[0]
  ending_station = subdf_stop_sequence['stop_name_2'].iloc[number_of_rows - 1]

  # The radius of the earth
  R = 6373.0

  # To convert the coordinates in radians 
  lat_starting_station = math.radians(stops_cleaned[stops_cleaned['stop_name'] == starting_station]['stop_lat'].iloc[0])
  lon_starting_station = math.radians(stops_cleaned[stops_cleaned['stop_name'] == starting_station]['stop_lon'].iloc[0])
  lat_ending_station = math.radians(stops_cleaned[stops_cleaned['stop_name'] == ending_station]['stop_lat'].iloc[0])
  lon_ending_station = math.radians(stops_cleaned[stops_cleaned['stop_name'] == ending_station]['stop_lon'].iloc[0])

  # To calculate the change in coordinates
  dlon = lon_ending_station - lon_starting_station
  dlat = lat_ending_station - lat_starting_station

  # To use the Haversine formula to get the distance in kilometers between the starting_station and the ending_station
  a = math.sin(dlat / 2)**2 + math.cos(lat_starting_station) * math.cos(lat_ending_station) * math.sin(dlon / 2)**2
  c = 2 * math.atan2(math.sqrt(a), math.sqrt(1 - a))

  # To calculate the distance
  distance = R * c

  # To add the distance in the absolute_distance list
  absolute_distance.append(distance)

# To add the absolute_distance list as a column to the route_characteristics dataset
route_characteristics['absolute_distance'] = absolute_distance
route_characteristics.head(2)

In [ ]:
''' To calculate the relative distance of the stop sequence of the route by only taking the starting and the ending station into account'''
# The relative distance of a route is the distance of the route divided by the distance of the route with the longest distance

relative_distance = []

# To calculate the route which stop sequence has the greatest absolute distance
max_distance = route_characteristics['absolute_distance'].max()

# To calculate the relative distance of each route
for abs_distance in route_characteristics['absolute_distance']:
  rel_distance = abs_distance / max_distance
  relative_distance.append(rel_distance)

# To add the relative_distance list as a column to the route_characteristics dataset
route_characteristics['relative_distance'] = relative_distance
route_characteristics.head(2)

In [ ]:
route_characteristics.dtypes

* Clustering of the routes

In [ ]:
#Construction of the numpy array from the route_characteristics dataset
arr_route_characteristics = route_characteristics.loc[:, ['avg_degree','max_degree','avg_clustering','max_clustering','avg_closeness_centrality','max_closeness_centrality','avg_betweenness_centrality','max_betweenness_centrality', 'len_stop_sequence', 'absolute_distance', 'relative_distance']].values
arr_route_characteristics

In [ ]:
#Normalization of the arr_route_characteristics
scaler = StandardScaler()
norm_arr_route_characteristics = scaler.fit_transform(arr_route_characteristics)
norm_arr_route_characteristics

In [ ]:
#Find the optimal number of clusters by means of the elbow method
wcss=[]

#a loop to fit the k-means algorithm (of the sklearn library) to the data
#The withing cluster sum of squares is calculated and stored in the wcss list
#init parameter indicates the random initialization method
#the max_iter parameter indicates the maximum number of iterations there can be to find the clusters when running the k-means algorithm
#300 is the default value for this
#The n_init parameter indicates the number of times the k-means algorithm will run with a different initial centroid
#The next line indicates that the k-means algorithms fits to the route_characteristics dataset
#The k-means inertia_ attribute indicates the sum of squared distances of samples to their closest cluster center
for i in range(1,11): 
     kmeans = KMeans(n_clusters=i, init ='k-means++', max_iter=300,  n_init=10,random_state=0 )
     kmeans.fit(norm_arr_route_characteristics)
     wcss.append(kmeans.inertia_)

In [ ]:
#Calculate the optimal number of clusters
kl = KneeLocator(range(1, 11), wcss, curve="convex", direction="decreasing")
kl.elbow

In [ ]:
#Plot the elbow graph
plt.plot(range(1,11),wcss)
plt.title('The Elbow Method Graph')
plt.xlabel('Number of clusters')
plt.ylabel('WCSS')

kl.plot_knee()

plt.show()

In [ ]:
#Applying k-means algorithm to the route_characteristics dataset.
kmeans = KMeans(n_clusters=kl.elbow, init ='k-means++', max_iter=300, n_init=10,random_state=0 )

#By means of the fit predict method for each observation the cluster it belongs to is returned. 
y_kmeans = kmeans.fit_predict(norm_arr_route_characteristics)
y_kmeans

In [ ]:
#Creation of a dictionary to know which route belongs to which cluster
#Put the routeID column as the index of the dictionary
cl_prediction = pd.Series(index=route_characteristics['route_id']).to_dict()

#select the first key
#list(cl_prediction.keys())[0]

#Put the array values as the values of the dictionary
for i in range(len(y_kmeans)):
  k = list(cl_prediction.keys())[i]
  cl_prediction[k] = y_kmeans[i]

cl_prediction

In [ ]:
#Centers of the clusters
kmeans.cluster_centers_

In [ ]:
#Principal component analysis (PCA) to reduce the number of dimensions
preprocessor = Pipeline(
    [
        ("scaler", MinMaxScaler()),
        ("pca", PCA(n_components=2, random_state=33)),
    ])

clusterer = Pipeline(
    [(
        "kmeans",
        KMeans(
            n_clusters= kl.elbow,
            init="k-means++",
            n_init=50,
            max_iter=500,
            random_state=33,
            ),
        ),
        ])

pipe = Pipeline(
    [
        ("preprocessor", preprocessor),
        ("clusterer", clusterer)
    ]
)

pipe.fit(norm_arr_route_characteristics)
preprocessed_data = pipe["preprocessor"].transform(norm_arr_route_characteristics)
predicted_labels = pipe["clusterer"]["kmeans"].labels_

In [ ]:
#Voor centroid values weer te geven
preprocessor2 = Pipeline(
    [
        ("scaler", MinMaxScaler()),
        ("pca", PCA(n_components=2, random_state=33)),
    ])

clusterer2 = Pipeline(
    [(
        "kmeans",
        KMeans(
            n_clusters= kl.elbow,
            init="k-means++",
            n_init=50,
            max_iter=500,
            random_state=33,
            ),
        ),
        ])

pipe2 = Pipeline(
    [
        ("preprocessor2", preprocessor2),
        ("clusterer2", clusterer2)
    ]
)

pipe2.fit(kmeans.cluster_centers_)
preprocessed_data_2 = pipe2["preprocessor2"].transform(kmeans.cluster_centers_)
predicted_labels_2 = pipe2["clusterer2"]["kmeans"].labels_

In [ ]:
#Plot the centroids
cl_routes_2 = pd.DataFrame(
    pipe2["preprocessor2"].transform(kmeans.cluster_centers_),
    columns=["Principal component 1", "Principal component 2"],
)

#cl_routes_2["predicted_cluster"] = pipe2["clusterer2"]["kmeans"].labels_

plt.style.use("fivethirtyeight")
plt.figure(figsize=(8, 8))

scat = sns.scatterplot(
    "Principal component 1",
    "Principal component 2",
    s=300,
    data=cl_routes_2,
    color=".2", 
)

scat.set_title("Clusters of the Belgian railway centroids")

plt.legend(bbox_to_anchor=(1.05, 1), loc=2, borderaxespad=0.0)

plt.show()

In [ ]:
#Plot the clusters
cl_routes = pd.DataFrame(
    pipe["preprocessor"].transform(norm_arr_route_characteristics),
    columns=["Principal component 1", "Principal component 2"],
)

cl_routes["predicted_cluster"] = pipe["clusterer"]["kmeans"].labels_

cl_routes_2 = pd.DataFrame(
    pipe2["preprocessor2"].transform(kmeans.cluster_centers_),
    columns=["Principal component 1", "Principal component 2"],
)

cl_routes_2["predicted_cluster"] = pipe2["clusterer2"]["kmeans"].labels_

plt.style.use("fivethirtyeight")
plt.figure(figsize=(8, 8))

scat = sns.scatterplot(
    "Principal component 1",
    "Principal component 2",
    s=50,
    data=cl_routes,
    hue="predicted_cluster",
    palette="Set2",
)

scat = sns.scatterplot(
    "Principal component 1",
    "Principal component 2",
    s=300,
    data=cl_routes_2,
    color=".2", 
)

scat.set_title("Clusters of the Belgian railway routes")

plt.legend(bbox_to_anchor=(1.05, 1), loc=2, borderaxespad=0.0)

plt.show()

In [ ]:
#Plot the clusters
cl_routes = pd.DataFrame(
    pipe["preprocessor"].transform(norm_arr_route_characteristics),
    columns=["Principal component 1", "Principal component 2"],
)

cl_routes["predicted_cluster"] = pipe["clusterer"]["kmeans"].labels_

plt.style.use("fivethirtyeight")
plt.figure(figsize=(8, 8))

scat = sns.scatterplot(
    "Principal component 1",
    "Principal component 2",
    s=50,
    data=cl_routes,
    hue="predicted_cluster",
    palette="Set2",
)

scat.set_title("Clusters of the Belgian railway routes")

plt.legend(bbox_to_anchor=(1.05, 1), loc=2, borderaxespad=0.0)

plt.show()

# Testen van de osmnx package

In [ ]:
ox.plot_graph(ox.graph_from_place('Namur, Belgium'))

In [ ]:
B = ox.graph_from_place('Belgium',
                        retain_all=False, truncate_by_edge=True, simplify=True,
                        custom_filter='["railway"~"rail"]')

fig, ax = ox.plot_graph(B, node_size=0, edge_color='w', edge_linewidth=0.2)